frontendHost: cmsch.basic
apiHost: api.cmsch.basic
frontendHostProtocol: https
apiHostProtocol: https

# For staging environments you can enable vercel previews and localhost for easier frontend development, like this:
#  allowedOriginPatterns: "https://cmsch-basic-*-kir-dev.vercel.app,http://127.0.0.1:3000,http://localhost:3000"
allowedOriginPatterns: ""

apiImage: harbor.sch.bme.hu/org-kir-dev/cmsch:release
imagePullSecretName:
imagePullPolicy: Always

springLoggingLevel: INFO
springProfiles: prod,docker,env
deploymentStrategy: Recreate # because of resource constraints and H2 allowing only 1 connection at a time
backendDistributedMode: false
replicas: 1
sessionDurationSeconds: 172800

monitoring:
  enabled: true

service:
  type: ClusterIP

ingress:
  enabled: true
  className: nginx
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
    kubernetes.io/tls-acme: 'true'
    nginx.ingress.kubernetes.io/proxy-body-size: 20m

blockActuatorEndpoints: true
swaggerEnabled: false

superusers:
  pekIds: ""
  googleEmails: ""

resources:
  storageClassName: memory-ssd
  volumeMode: Filesystem
  limits:
    cpu:
    memory:
  requests:
    cpu: 500m
    memory: 750Mi
    storage: 3G

secret:
  jwtSecret: this is a secret value # openssl rand -hex 16
  profileSalt: this is a secret value # openssl rand -hex 16
  authschClientId: this is a secret value
  authschClientKey: this is a secret value
  googleClientId: this is a secret value
  googleClientKey: this is a secret value
  bmejegyUsername: this is a secret value
  bmejegyPassword: this is a secret value
  firebaseServiceAccountKey: contents of the serviceAccount.json file as a string

redis:
  enabled: false # Remember to set this too → springProfiles: prod,docker,env,redis-session
  architecture: standalone
  auth:
    enabled: false
  master:
    count: 1
    resourcesPreset: "micro"
    persistence:
      enabled: false
  networkPolicy:
    enabled: true
    allowExternal: false

postgres:
  enabled: false # Remember to set this too → springProfiles: prod,docker,env,postgres
  driveBackup:
    enabled: true
    schedule: "0 3 * * *"
    restartPolicy: Never
    imagePullPolicy: Always
    image: harbor.sch.bme.hu/org-kir-dev/postgres-backup:latest
    googleServiceAccount: 'service account json contents'
    driveParentId: "the ID of the drive folder for the files"
    driveId: "the ID of the shared drive"
  global:
    defaultStorageClass: memory-ssd
    postgresql:
      auth:
        database: cmsch
        username: admin
        password: admin
  architecture: standalone
  metrics:
    enabled: true
    serviceMonitor:
      relabelings:
        - sourceLabels: [ __meta_kubernetes_pod_name ]
          targetLabel: instance
          action: replace
      enabled: true
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
        ephemeral-storage: 50Mi
      limits:
        cpu: 150m
        memory: 192Mi
        ephemeral-storage: 50Mi
  primary:
    networkPolicy:
      allowExternal: false
    persistence:
      size: 2Gi
    resourcesPreset: "micro"

s3:
  useS3: false
  accessKey: secret
  secretKey: secret
  bucket: cmsch
  region: region
  endpoint:
  publicEndpoint:

load:
  app: true
  login: true
  profile: true
  impressum: true
  proto: true
  errorlog: true
  access_keys: false
  admission: false
  bmejegy: false
  challange: false
  communities: false
  conference: false
  countdown: false
  debt: false
  email: false
  form: false
  groupselection: false
  home: false
  leaderboard: false
  location: false
  messaging: false
  news: false
  qrfight: false
  race: false
  riddle: false
  static_page: false
  task: false
  team: false
  token: false
  event: false
  pushnotification: false
  sheets: false
  serviceAccount: false

owner:
  token: USER
  task: USER
  riddle: USER
  form: USER
  challenge: USER
  race: USER

riddle:
  masterRole: true
  microservice: false
  managementToken: ""
  msNodeName: NOT_SET

startupProbe:
  failureThreshold: 60
  periodSeconds: 5

readinessProbe:
  initialDelaySeconds: 0
  periodSeconds: 5
  timeoutSeconds: 5
  failureThreshold: 10

livenessProbe:
  initialDelaySeconds: 0
  periodSeconds: 5
  timeoutSeconds: 5
  failureThreshold: 5
