
<!--@thymesVar id="input" type="hu.bme.sch.cmsch.component.form.FormElement"-->
<!--@thymesVar id="index" type="int"-->
<!--@thymesVar id="component" type="hu.bme.sch.cmsch.admin.dashboard.DashboardCard"-->
<!--@thymesVar id="view" type="String"-->

<object th:fragment="dashboardFormInput (input, index, component, view)" th:remove="tag">

    <div class="field-group">
        <label th:for="|input${index}|"
               th:text="${input.label}">
        </label>
        <div style="clear: both"></div>

        <div th:id="|input${index}_cards|" style="margin-top: 20px">
            <div th:each="historyPoint : ${T(hu.bme.sch.cmsch.admin.dashboard.SubmissionHistory).convertStringToHistory(input.values)}" th:class="|sub-card ${historyPoint.adminResponse ? 'admin-response' : ''}|">
                <div class="field-group">
                    <ins th:text="${historyPoint.submitterName}"></ins> <ins th:text="${historyPoint.adminResponse ? '[RENDEZŐ]' : '[RÉSZTVEVŐ]'}"></ins><br>
                    <b>Státusz:</b> <ins th:text="${historyPoint.status}"></ins><br>
                    <b th:text="${historyPoint.adminResponse ? 'Válasz' : 'Beadás'}"></b>: <ins th:text="${historyPoint.content}"></ins><br>
                    <a th:href="|/cdn/${historyPoint.contentUrl}|" target="_blank" th:if="${historyPoint.type != 'TEXT'}" th:text="${historyPoint.contentUrl}"></a>
                </div>
            </div>
        </div>

        <span class="note" th:text="${input.note}" th:if="${input.note != ''}"></span>
    </div>

</object>

<object th:fragment="dashboardFormScript (components)" th:remove="tag">
</object>