
<!--@thymesVar id="input" type="hu.bme.sch.cmsch.component.form.FormElement"-->
<!--@thymesVar id="index" type="int"-->
<!--@thymesVar id="component" type="hu.bme.sch.cmsch.admin.dashboard.DashboardCard"-->
<!--@thymesVar id="view" type="String"-->

<object th:fragment="dashboardFormInput (input, index, component, view)" th:remove="tag">

    <div class="field-group">
        <label th:for="|input${index}|"
               th:text="${input.label}">
        </label>
        <div style="clear: both"></div>
        <textarea
                th:name="${input.fieldName}"
                th:id="|input${index}|"
                th:text="${input.defaultValue}"
                autocomplete="off"
        >
        </textarea>
        <span class="note" th:text="${input.note}" th:if="${input.note != ''}"></span>
    </div>

</object>

<object th:fragment="dashboardFormScript (components)" th:remove="tag">
</object>