
<!--@thymesVar id="input" type="hu.bme.sch.cmsch.component.form.FormElement"-->
<!--@thymesVar id="index" type="int"-->
<!--@thymesVar id="component" type="hu.bme.sch.cmsch.admin.dashboard.DashboardCard"-->
<!--@thymesVar id="view" type="String"-->

<object th:fragment="dashboardFormInput (input, index, component, view)" th:remove="tag">

    <div class="field-group" th:id="|_${index}|">
        <label th:for="|input${index}|"
               th:text="${input.label}">
        </label>
        <div style="clear: both"></div>
        <select th:id="|input${index}|"
                th:name="${input.fieldName}">
            <option th:each="opt : ${input.values.split(', *')}"
                    th:value="${opt}"
                    th:text="${opt}"
                    th:selected="${#strings.equals(input.defaultValue, opt)}"></option>
        </select>
        <span class="note" th:text="${input.note}" th:if="${input.note != ''}"></span>
    </div>

</object>

<object th:fragment="dashboardFormScript (components)" th:remove="tag">
</object>