
<!--@thymesVar id="index" type="int"-->
<!--@thymesVar id="data" type="kotlin.Any"-->
<!--@thymesVar id="property" type="kotlin.reflect.KProperty1<kotlin.Any, kotlin.Any>"-->
<!--@thymesVar id="generateInput" type="hu.bme.sch.cmsch.admin.GenerateInput"-->
<!--@thymesVar id="editMode" type="boolean"-->
<!--@thymesVar id="entityMode" type="boolean"-->
<!--@thymesVar id="duplicateMode" type="boolean"-->
<!--@thymesVar id="readOnly" type="boolean"-->

<object th:fragment="detailsSegment (index, data, property, generateInput, editMode, entityMode, duplicateMode, readOnly, required, ext)" th:remove="tag">

    <div th:class="|field-group ${generateInput.style}|" th:id="|_${index}|">
        <label th:for="|input${index}|"
               th:text="${generateInput.label}">
        </label>
        <div style="clear: both"></div>
        <input type="text"
               class="datetime-picker"
               th:name="${property.name}"
               th:id="|input${index}|"
               th:value="${(!editMode) ? generateInput.defaultValue : property.get(data)}"
               th:disabled="${!generateInput.enabled || readOnly}"
               th:unless="${entityMode}"
               th:required="${required?'required':null}"
        />
        <span class="note" th:text="${generateInput.note}" th:if="${generateInput.note != ''}"></span>
        <span class="note type-note" th:if="${entityMode}">Típus: Dátum</span>
        <div class="button-group" th:if="${!readOnly && !entityMode}">
            <button class="btn"
                    th:data-index="${index}"
                    onclick="dateField_setDiff(-86400, this.getAttribute('data-index')); return false">
                -1d
            </button>
            <button class="btn"
                    th:data-index="${index}"
                    onclick="dateField_setDiff(0, this.getAttribute('data-index')); return false">
                most
            </button>
            <button class="btn"
                    th:data-index="${index}"
                    onclick="dateField_setDiff(86400, this.getAttribute('data-index')); return false">
                +1d
            </button>
            <button class="btn"
                    th:data-index="${index}"
                    onclick="dateField_setDiff(604800, this.getAttribute('data-index')); return false">
                +1w
            </button>
        </div>
    </div>

</object>

<object th:fragment="detailsSegmentScript (ext)" th:remove="tag">

    <script>
        function dateField_setDiff(diff, index) {
            const dateTimeElement = document.getElementById(`input${index}`);
            dateTimeElement._flatpickr?.setDate(Math.floor(Date.now()) + (diff * 1000));
        }
    </script>

</object>