
<!--@thymesVar id="index" type="int"-->
<!--@thymesVar id="data" type="kotlin.Any"-->
<!--@thymesVar id="property" type="kotlin.reflect.KProperty1<kotlin.Any, kotlin.Any>"-->
<!--@thymesVar id="generateInput" type="hu.bme.sch.cmsch.admin.GenerateInput"-->
<!--@thymesVar id="editMode" type="boolean"-->
<!--@thymesVar id="entityMode" type="boolean"-->
<!--@thymesVar id="duplicateMode" type="boolean"-->
<!--@thymesVar id="readOnly" type="boolean"-->

<object th:fragment="detailsSegment (index, data, property, generateInput, editMode, entityMode, duplicateMode, readOnly, ext)" th:remove="tag">

    <div th:if="${generateInput.type == 'entity-select'}" class="field-group" th:id="|_${index}|">
        <label th:for="|input${index}|"
               th:text="${generateInput.label}">
        </label>
        <div style="clear: both"></div>
        <select th:id="|input${index}|"
                th:name="${property.name}"
                th:disabled="${!generateInput.enabled || readOnly}"
                th:unless="${entityMode}"
        >
            <option th:if="${editMode || duplicateMode}"
                    th:each="opt : ${mappings.get(generateInput.entitySource).invoke(data)}"
                    th:value="${opt}"
                    th:text="${opt}"
                    th:selected="${(editMode || duplicateMode) && #strings.equals(property.get(data), opt)}"></option>
        </select>

        <object th:remove="tag" th:if="${generateInput.interpreter == 'search'}">
            <input type="text"
                   th:id="|search${index}|"
                   th:name="|search${index}|"
                   placeholder="Kereső"
                   th:unless="${entityMode}"
            />
            <script th:inline="javascript" th:unless="${entityMode}">
                (function() {
                    const id = /*[[${index}]]*/ '';
                    const select = document.querySelectorAll(`select#input${id}`);
                    const options = Array.from(select[0].options);
                    const input = document.querySelector(`input#search${id}`);
                    function findMatches (search, options) {
                        return options.filter(option => {
                            const regex = new RegExp(search, 'gi');
                            return option.text.match(regex);
                        });
                    }
                    function filterOptions () {
                        options.forEach(option => {
                            option.remove();
                            option.selected = false;
                        });
                        const matchArray = findMatches(this.value, options);
                        select[0].append(...matchArray);
                    }
                    input.addEventListener('change', filterOptions);
                    input.addEventListener('keyup', filterOptions);
                })();
            </script>
        </object>

        <span class="note" th:text="${generateInput.note}" th:if="${generateInput.note != ''}"></span>
        <span class="note type-note" th:if="${entityMode}">Típus: Kapcsolat</span>
    </div>

</object>

<object th:fragment="detailsSegmentScript (ext)" th:remove="tag">

</object>