
<!--@thymesVar id="index" type="int"-->
<!--@thymesVar id="data" type="kotlin.Any"-->
<!--@thymesVar id="property" type="kotlin.reflect.KProperty1<kotlin.Any, kotlin.Any>"-->
<!--@thymesVar id="generateInput" type="hu.bme.sch.cmsch.admin.GenerateInput"-->
<!--@thymesVar id="editMode" type="boolean"-->
<!--@thymesVar id="entityMode" type="boolean"-->
<!--@thymesVar id="duplicateMode" type="boolean"-->
<!--@thymesVar id="readOnly" type="boolean"-->

<object th:fragment="detailsSegment (index, data, property, generateInput, editMode, entityMode, duplicateMode, readOnly)" th:remove="tag">

    <div th:if="${generateInput.type == 'file'}" class="field-group" th:id="|_${index}|">
        <label th:for="|input${index}|"
               th:text="${generateInput.label}">
        </label>
        <div style="clear: both"></div>
        <span th:id="|file-name-${index}|" class="file-name"></span>
        <input type="file"
               class="file-input"
               th:name="|file${generateInput.fileId}|"
               th:id="|input${index}|"
               th:disabled="${!generateInput.enabled || readOnly}"
               th:unless="${entityMode}"
        />

        <script th:inline="javascript">
            let id = /*[[${index}]]*/ '';
            document.getElementById(`input${id}`).addEventListener('change', function() {
                let fileNameSpan = document.getElementById(`file-name-${id}`);
                if (this.files.length > 0) {
                    fileNameSpan.textContent = this.files[0].name;
                } else {
                    fileNameSpan.textContent = '';
                }
            });
        </script>

        <object th:if="${generateInput.fileType == 'image' && (editMode || duplicateMode)}" th:remove="tag">
            <object th:unless="${property.get(data) == null || property.get(data) == ''}" th:remove="tag">
                <a href="#"
                   target="_blank"
                   th:href="|@{/cdn/}${property.get(data)}|">
                    <img src="#"
                         alt="Image preview"
                         onerror="this.onerror=null; this.parentNode.style.display = 'none'; "
                         width="528"
                         th:id="|input${index}|"
                         th:unless="${(property.get(data) == null || property.get(data) == '') && entityMode}"
                         th:src="|@{/cdn/}${property.get(data)}|"
                    />
                </a>
                <br>
                <a href="#"
                   target="_blank"
                   th:href="|@{/cdn/}${property.get(data)}|"
                   class="btn btn-secondary"
                   th:unless="${entityMode}"
                >
                    Megnyitás nagyban (új lapon)
                </a>
            </object>
            <p th:if="${(property.get(data) == null || property.get(data) == '') && !entityMode}">
                Nincs kép feltöltve
            </p>
        </object>

        <span class="note" th:text="${generateInput.note}" th:if="${generateInput.note != ''}"></span>
        <span class="note type-note" th:if="${entityMode}">Típus: Fájl</span>
    </div>

</object>

<object th:fragment="detailsSegmentScript" th:remove="tag">

</object>