
<!--@thymesVar id="index" type="int"-->
<!--@thymesVar id="data" type="kotlin.Any"-->
<!--@thymesVar id="property" type="kotlin.reflect.KProperty1<kotlin.Any, kotlin.Any>"-->
<!--@thymesVar id="generateInput" type="hu.bme.sch.cmsch.admin.GenerateInput"-->
<!--@thymesVar id="editMode" type="boolean"-->
<!--@thymesVar id="entityMode" type="boolean"-->
<!--@thymesVar id="duplicateMode" type="boolean"-->
<!--@thymesVar id="readOnly" type="boolean"-->

<object th:fragment="detailsSegment (index, data, property, generateInput, editMode, entityMode, duplicateMode, readOnly, required, ext)" th:remove="tag">

    <div th:class="|field-group ${generateInput.style}|" th:id="|_${index}|">
        <label th:for="|input${index}|"
               th:text="${generateInput.label}">
        </label>
        <div style="clear: both"></div>
        <input th:type="text"
               pattern="[0-9]+\.?[0-9]*"
               th:name="${property.name}"
               th:id="|input${index}|"
               th:maxlength="${generateInput.maxLength}"
               th:value="${(!editMode && !duplicateMode) ? generateInput.defaultValue : property.get(data)}"
               th:placeholder="${generateInput.placeholder}"
               th:required="${required?'required':null}"
               th:disabled="${!generateInput.enabled || readOnly}"
               th:autocomplete="${generateInput.autocomplete}"
               th:unless="${entityMode}"
        />
        <span class="note" th:text="${generateInput.note}" th:if="${generateInput.note != ''}"></span>
        <span class="note type-note" th:if="${entityMode}">Típus: Tört szám</span>
    </div>

</object>

<object th:fragment="detailsSegmentScript (ext)" th:remove="tag">

</object>