
<!--@thymesVar id="index" type="int"-->
<!--@thymesVar id="data" type="kotlin.Any"-->
<!--@thymesVar id="property" type="kotlin.reflect.KProperty1<kotlin.Any, kotlin.Any>"-->
<!--@thymesVar id="generateInput" type="hu.bme.sch.cmsch.admin.GenerateInput"-->
<!--@thymesVar id="editMode" type="boolean"-->
<!--@thymesVar id="entityMode" type="boolean"-->
<!--@thymesVar id="duplicateMode" type="boolean"-->
<!--@thymesVar id="readOnly" type="boolean"-->

<object th:fragment="detailsSegment (index, data, property, generateInput, editMode, entityMode, duplicateMode, readOnly, required, ext)" th:remove="tag">

    <div th:class="|field-group ${generateInput.style}|" th:id="|_${index}|">
        <label th:for="|input${index}|"
               th:text="${generateInput.label}">
        </label>
        <div style="clear: both"></div>
        <div th:class="|input-container ${generateInput.icon != '' ? 'icon' : ''}|">
            <input th:type="text"
                   th:name="${property.name}"
                   th:id="|input${index}|"
                   th:maxlength="${generateInput.maxLength}"
                   th:value="${(!editMode && !duplicateMode) ? generateInput.defaultValue : property.get(data)}"
                   th:placeholder="${generateInput.placeholder}"
                   th:required="${required?'required':null}"
                   th:disabled="${!generateInput.enabled || readOnly}"
                   th:autocomplete="${generateInput.autocomplete}"
                   th:unless="${entityMode}"
            />
            <span th:if="${generateInput.icon != ''}" class="material-symbols-outlined" th:text="${generateInput.icon}">encrypted</span>
            <div style="clear:both; text-align: center" class="note">VAGY</div>
            <input type="file"
                   class="file-input"
                   th:name="${property.name}"
                   th:id="|file-input-${index}|"
            />
            <div th:id="|file-name-${index}|" class="file-name"></div>
            <img class="image-preview" th:id="|image-preview-${index}|" onerror="this.src=''" th:src="${(!editMode && !duplicateMode) ? generateInput.defaultValue : property.get(data)}" />
            <script th:inline="javascript">
                (() => {
                    let id = /*[[${index}]]*/ '';
                    document.getElementById(`input${id}`).addEventListener('change', function () {
                        let fileNameSpan = document.getElementById(`file-name-${id}`);
                        let fileInput = document.getElementById(`file-input-${id}`);
                        let filePreview = document.getElementById(`image-preview-${id}`);

                        fileNameSpan.textContent = '';
                        fileInput.value = ''

                        filePreview.src = this.value
                    });
                    document.getElementById(`file-input-${id}`).addEventListener('change', function () {
                        let fileNameSpan = document.getElementById(`file-name-${id}`);
                        let fileUrlInput = document.getElementById(`input${id}`);
                        let filePreview = document.getElementById(`image-preview-${id}`);

                        fileUrlInput.value = ''
                        if (this.files.length > 0) {
                            const file = this.files[0]
                            fileNameSpan.textContent = file.name;
                            filePreview.src = URL.createObjectURL(file)
                        } else {
                            fileNameSpan.textContent = '';
                            filePreview.src = '';
                        }
                    });
                })()
            </script>
        </div>
        <span class="note" th:text="${generateInput.note}" th:if="${generateInput.note != ''}"></span>
        <span class="note type-note" th:if="${entityMode}">Típus: Szöveg</span>
    </div>

</object>

<object th:fragment="detailsSegmentScript (ext)" th:remove="tag">

</object>
