
<!--@thymesVar id="index" type="int"-->
<!--@thymesVar id="data" type="kotlin.Any"-->
<!--@thymesVar id="property" type="kotlin.reflect.KProperty1<kotlin.Any, kotlin.Any>"-->
<!--@thymesVar id="generateInput" type="hu.bme.sch.cmsch.admin.GenerateInput"-->
<!--@thymesVar id="editMode" type="boolean"-->
<!--@thymesVar id="entityMode" type="boolean"-->
<!--@thymesVar id="duplicateMode" type="boolean"-->
<!--@thymesVar id="readOnly" type="boolean"-->

<object th:fragment="detailsSegment (index, data, property, generateInput, editMode, entityMode, duplicateMode, readOnly, ext)" th:remove="tag">

    <div th:if="${generateInput.type == 'permissions'}" class="field-group">
        <label th:for="|input${index}|"
               th:text="${generateInput.label}">
        </label>

        <h4 th:unless="${entityMode}"
            class="permission-header"
            onclick="this.nextElementSibling.classList.toggle('hidden')">Általános jogosultságok</h4>

        <div th:unless="${entityMode}">
            <div class="permission-box" th:each="permission : ${staffPermissions}">
                <div class="permission-part">
                    <span class="material-symbols-outlined fix-icons staff-permissions">shield</span>&nbsp;<b th:text="${permission.permissionString}">PERMISSION_NAME</b><br>
                    <span class="note" th:text="${permission.description}">description</span>
                </div>
                <div class="permission-part">
                    <label class="switch" th:data-param1="${index}" th:data-param2="${permission.permissionString}" th:onclick="|changePermissionField(this.getAttribute('data-param1'), this.getAttribute('data-param2'))|">
                        <input type="checkbox" th:disabled="${readOnly}" th:id="|input${index}_${permission.permissionString}|" />
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
        </div>

        <h4 th:unless="${entityMode}"
            class="permission-header"
            onclick="this.nextElementSibling.classList.toggle('hidden')">Egyedi jogosultságok</h4>

        <div th:unless="${entityMode}">
            <div class="permission-box" th:each="permission : ${customPermissions}">
                <div class="permission-part">
                    <span class="material-symbols-outlined fix-icons custom-permissions">local_police</span>&nbsp;<b th:text="${permission.permissionString}">PERMISSION_NAME</b><br>
                    <span class="note" th:text="${permission.description}">description</span>
                </div>
                <div class="permission-part">
                    <label class="switch" th:data-param1="${index}" th:data-param2="${permission.permissionString}" th:onclick="|changePermissionField(this.getAttribute('data-param1'), this.getAttribute('data-param2'))|">
                        <input type="checkbox" th:disabled="${readOnly}" th:id="|input${index}_${permission.permissionString}|" />
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="permission-box" th:if="${customPermissions != null && customPermissions.empty && !entityMode}">
            Nincs egyetlen egyedi jogosultság sem
        </div>

        <h4 th:unless="${entityMode}"
            class="permission-header"
            onclick="this.nextElementSibling.classList.toggle('hidden')">Admin jogosultságok</h4>

        <div th:unless="${entityMode}">
            <div class="permission-box" th:each="permission : ${adminPermissions}">
                <div class="permission-part">
                    <span class="material-symbols-outlined fix-icons admin-permissions">gpp_maybe</span>&nbsp;<b th:text="${permission.permissionString}">PERMISSION_NAME</b><br>
                    <span class="note" th:text="${permission.description}">description</span>
                </div>
                <div class="permission-part">
                    <label class="switch" th:data-param1="${index}" th:data-param2="${permission.permissionString}" th:onclick="|changePermissionField(this.getAttribute('data-param1'), this.getAttribute('data-param2'))|">
                        <input type="checkbox" th:disabled="${readOnly}" th:id="|input${index}_${permission.permissionString}|" />
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
        </div>

        <h4 class="permission-header" th:unless="${entityMode}">Nyers jogosultságok</h4>

        <div class="field-group" th:id="|_${index}|">
            <input th:type="text"
                   th:name="${property.name}"
                   th:id="|input${index}|"
                   th:maxlength="${generateInput.maxLength}"
                   th:value="${(!editMode && !duplicateMode) ? generateInput.defaultValue : property.get(data)}"
                   th:placeholder="${generateInput.placeholder}"
                   th:disabled="${!generateInput.enabled || readOnly}"
                   th:autocomplete="${generateInput.autocomplete}"
                   th:onchange="|changePermissionText(${index})|"
                   th:unless="${entityMode}"
            />
            <span class="note" th:text="${generateInput.note}"></span>
            <span class="note type-note" th:if="${entityMode}">Típus: Jogosultságok</span>
        </div>
        <script th:inline="javascript" th:unless="${entityMode}">
            changePermissionText(/*[[${index}]]*/ 0)
        </script>
    </div>

</object>

<object th:fragment="detailsSegmentScript (ext)" th:remove="tag">

</object>