
<!--@thymesVar id="index" type="int"-->
<!--@thymesVar id="data" type="kotlin.Any"-->
<!--@thymesVar id="property" type="kotlin.reflect.KProperty1<kotlin.Any, kotlin.Any>"-->
<!--@thymesVar id="generateInput" type="hu.bme.sch.cmsch.admin.GenerateInput"-->
<!--@thymesVar id="editMode" type="boolean"-->
<!--@thymesVar id="entityMode" type="boolean"-->
<!--@thymesVar id="duplicateMode" type="boolean"-->
<!--@thymesVar id="readOnly" type="boolean"-->

<object th:fragment="detailsSegment (index, data, property, generateInput, editMode, entityMode, duplicateMode, readOnly, ext)" th:remove="tag">

    <div th:if="${generateInput.type == 'select'}" class="field-group" th:id="|_${index}|">
        <label th:for="|input${index}|"
               th:text="${generateInput.label}">
        </label>
        <div style="clear: both"></div>
        <select th:id="|input${index}|"
                th:name="${property.name}"
                th:disabled="${!generateInput.enabled || readOnly}"
                th:unless="${entityMode}"
        >
            <option th:if="${editMode || duplicateMode}"
                    th:each="opt : ${generateInput.source}"
                    th:value="${opt}"
                    th:text="${opt}"
                    th:selected="${#strings.equals(property.get(data), opt)}"></option>
            <option th:unless="${editMode || duplicateMode}"
                    th:each="opt : ${generateInput.source}"
                    th:value="${opt}"
                    th:text="${opt}"></option>
        </select>
        <span class="note" th:text="${generateInput.note}" th:if="${generateInput.note != ''}"></span>
        <span class="note type-note" th:if="${entityMode}">Típus: Fix elemek</span>
    </div>

</object>

<object th:fragment="detailsSegmentScript (ext)" th:remove="tag">

</object>