REACT_APP_API_BASE_URL=http://localhost:8080
REACT_APP_GITHUB_ORG_URL=https://github.com/kir-dev/cmsch
REACT_APP_KIRDEV_URL=https://kir-dev.sch.bme.hu
REACT_APP_BUGREPORT_URL='https://kir-dev.sch.bme.hu/about#contact'
REACT_APP_NAME=CMSch
REACT_APP_CLIENT_BASE_URL=https://golya.sch.bme.hu
REACT_APP_SHOW_COOKIE_CONSENT_POPUP=false
REACT_APP_USE_SIDENAVBAR=false
