
* {
    margin: 0;
    padding: 0;
    border: 0;
    scrollbar-width: none;
    scrollbar-color: #4ab09e transparent;
}

object {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    overflow-x: hidden;
    letter-spacing: 1px;
    width: 100%;
    height: 100%;
    color: #d6dddd;
    background: linear-gradient(90deg, #232629 0%, #1a1d20 100%);
}

input, button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

span.material-symbols-outlined {
    vertical-align: middle;
    display: inline-block;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

a {
    text-decoration: none;
    color: inherit;
}

ins {
    text-decoration: none;
}

*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-track {
    background: #1a1d20;
}

*::-webkit-scrollbar-thumb {
    background-color: #4ab09e;
    border-radius: 10px;
}

.group {
    display: table;
    width: 100%;
}

.nav {
    display: table-row;
    height: 40px;
    background-color: #191c20;
    width: 100%;
    box-sizing: content-box;
}

.nav > div {
    display: table-cell;
    padding: 10px;
}

.nav > div:last-of-type {
    text-align: right;
}

.nav > div.left-panel {
    padding-left: 20px;
}

.nav > div.left-panel > ins {
    padding-right: 20px;
}

.app {
    width: 100%;
    display: table-row;
    height: calc(100vh - 40px);
}

.app > .shortcuts-menu {
    max-width: 40px;
    width: 40px;
    background-color: #22262b;
    color: #44494c;
    max-height: calc(100vh - 40px);
    box-shadow: 10px 0 21px -10px rgba(0,0,0,0.2);
    padding-top: 10px;
}

.app > .shortcuts-menu a {
    width: 100%;
    text-align: center;
    padding: 0;

}

.app > .shortcuts-menu span.material-symbols-outlined {
    display: block;
    margin: 5px auto;
    padding: 5px 0;
    text-align: center;
}

.app > .shortcuts-menu span.material-symbols-outlined:hover {
    color: #767b7d;
    cursor: pointer;
    border-radius: 12px;
}

.app > .shortcuts-menu > .placeholder {
    background-color: #4ab09e;
    border-right: 1px solid #186c68;
    height: calc(100vh - 390px);
    display: block;
    margin: 10px auto;
    max-width: 2px;
}

.app > .menu {
    width: 260px;
    max-width: 260px;
    display: table-cell;
    vertical-align: top;
    overflow-y: scroll;
    max-height: calc(100vh - 40px);
    box-shadow: 10px 0 21px -10px rgba(0,0,0,0.2);
    padding: 0 20px;
}

.app > .content {
    display: table-cell;
    vertical-align: top;
    padding: 40px;
}

.app > .content > h1 {
    font-weight: 300;
}

.app > .content > div.details {
    font-weight: 300;
    margin: 20px 0;
    color: #6b7472;
}

.card {
    border-radius: 1.5em;
    background-color: #23272b;
    padding: 1.8em;
    box-shadow: 10px 10px 21px 5px rgba(0,0,0,0.20);
    margin: 40px 0;
}

.card > h4 {
    font-weight: 500;
    color: #d6dddd;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.card > .desc {
    font-weight: 300;
    color: #585c5f;
    margin-bottom: 1em;
}

.card > .options {
    margin-top: 20px;
}

.card > .options > .option {
    display: table-row;
}

.card > .options > .option div {
    padding-bottom: 20px;
}

.card > .options > .option:last-of-type div {
    padding-bottom: 0;
}

.card > .options > .option > div:first-of-type {
    display: table-cell;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: center;
}

.card > .options > .option > div:first-of-type > span {
    font-size: 6em;
    font-variation-settings: 'FILL' 0, 'wght' 100, 'GRAD' 0, 'opsz' 48;
    background-color: #181b1d;
    border-radius: 12px;
    box-shadow: inset 3px 3px 28px 0 rgba(0,0,0,0.2);
    max-width: 120px;
    max-height: 120px;
}

.card > .options > .option > div:last-of-type {
    display: table-cell;
    padding-left: 20px;
    vertical-align: top;
}

.card > .options > .option > div:last-of-type > h5 {
    font-size: 1em;
    text-transform: uppercase;
    margin: 14px 0 10px 0;
    font-weight: 500;
}

.card > .options > .option > div:last-of-type > span {
    color: #585c5f;
    font-size: 1em;
    font-weight: 300;
}

.color-yellow {
    color: #eaa12f;
}

.color-cyan {
    color: #4ab09e;
}

.color-green {
    color: #0bc181;
}

.color-gray {
    color: #585c5f;
}

.color-red {
    color: #ad5454;
}

.badge {
    background-color: rgba(0,0,0,0.4);
    padding: 4px 6px;
    display: inline-block;
    border-radius: 2px;
    vertical-align: middle;
}

.badge > span {
    vertical-align: top;
}

.smaller {
    font-size: 0.8em;
}

.regular {
    font-size: 1em;
}

.bigger {
    font-size: 1.2em;
}

.menu > img {
    display: block;
    margin: 30px auto;
    border-radius: 200px;
    border: 2px solid #4ab09e;
    box-shadow: 10px 10px 21px 5px rgba(0,0,0,0.20);
}

.menu a.category {
    font-weight: 800;
    text-transform: uppercase;
    display: block;
    color: #c7c8ca;
    padding: 10px 2px;
    font-size: 0.8em;
}

.menu > .menu-group a {
    display: table-row;
    color: #6b7472;
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
    vertical-align: top;
}

.menu > .menu-group a:hover {
    color: #4ab09e;
}

.menu > .menu-group a span:first-of-type {
    padding: 10px 10px;
    display: table-cell;
    vertical-align: middle;
}

.menu > .menu-group a span:last-of-type {
    padding: 10px 10px 10px 0;
    display: table-cell;
    vertical-align: middle;
}

.menu > input {
    background-color: #181b1d;
    padding: 10px 20px;
    font-size: 1em;
    color: #c7c8ca;
    border: 0;
    outline: 0;
    margin: 30px auto 20px auto;
    box-sizing: content-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    top: 7px;
    left: 105%;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}
