body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  /*bg: brand-500*/
  background: rgba(38,196,133, 0.5);
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover {
  background: rgba(38,196,133, 0.75);
}