* {
    margin: 0;
    padding: 0;
    border: 0;
}

object {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #22252f;
    overflow-x: hidden;
    letter-spacing: 1px;
    width: 100%;
    color: #9295a4;
}

input, button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

ul {
    margin: 20px 40px;
}

:focus,
input:focus,
button:focus,
textarea:focus {
    outline: 0 !important;
}

p {
    line-height: 1.5;
    text-align: justify;
    margin: 0 0 20px 0;
    font-weight: 300;
}

p.highlight {
    font-weight: normal;
    color: #9699a8;
}

h1 {
    font-weight: 500;
    font-size: 18px;
    color: #F6F6F6;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #2b2e3b #1e212a;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #1e212a;
}

*::-webkit-scrollbar-thumb {
    background-color: #2b2e3b;
    border-radius: 0;
    border: 0 none #ffffff;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #f1b44c;
}

*::-webkit-scrollbar-corner {
    background: #2b2e3b;
    width: 10px;
    height: 10px;
}

*::-webkit-resizer {
    background: #2b2e3b;
}

*::-webkit-resizer:hover {
    background-color: #f1b44c;
}

.entrypoint {
    background-image: url('/images/admin-bg-3.svg');
    background-size: cover !important;
    height: 100vh;
    background-position: center;
}

.content {
    margin: 0 auto;
}

.content h1 {
    font-weight: 300;
    text-align: center;
}

.content .split {
    display: table-row;
}

.content .split .menu {
    background-color: #2b2e3a;
    display: table-cell;
    max-width: 280px;
    min-width: 280px;
    width: 280px;
    font-weight: 400;
    padding: 0 20px 40px 0;
    min-height: 100vh;
    height: calc(100vh - 40px);
    box-shadow: 0 2px 4px rgb(15 34 58 / 12%);
}

.content .split .menu h2 {
    padding: 14px 20px 4px 20px;
    color: #666b7f;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
}

.content .split .menu h2.collapsable:hover {
    color: #898fa9;
    cursor: pointer;
}

.content .split .menu h2.collapsable:active {
    color: #afb6d0;
}

.content .split .menu .spoiler {
    display: block;
}

.content .split .menu .spoiler.collapsed {
    display: none;
}

.content .split .menu a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    color: #898fa9;
    border-radius: 4px;
    margin: 10px 10px 10px 0;
    font-size: 15px;
}

.content .split .menu a span {
    margin: 0 10px;
}

.content .split .menu a:hover {
    color: #f1b44c;
}

.content .split .menu .separate {
    padding-top: 20px;
}

.content .split .payload {
    display: table-cell;
    padding: 20px 30px 40px 30px;
    width: 100%;
}

.content .split .payload .page {
    width: 100%;
}

.content .split .payload .page-short {
    max-width: 530px;
    margin-left: auto;
    margin-right: auto;
}

.content .split .payload h2 {
    margin-bottom: 20px;
    font-weight: 500;
    color: #f6f6f6;
}

.page-short h2 {
    text-align: center;
}

.content .split .payload h3 {
    margin-bottom: 16px;
    font-weight: 500;
    color: #F6F6F6;
}

.footer {
    text-align: center;
    color: #444444;
}

.footer a {
    color: #222222;
    text-decoration: none;
    letter-spacing: 2px;
}

.content .split .payload p a {
    display: inline-block;
    text-decoration: none;
    color: #cd9941;
    border-bottom: 2px dashed #cd9941;
    transition: background-color ease 0.2s;
}

.content .split .payload p a:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-bottom: 2px solid #ffd18c;
}

.card,
table {
    width: 100%;
    background-color: #2b2e3a;
    border-radius: 4px;
    border-spacing: 0;
    border-collapse: collapse;
    line-height: 2;
    box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
}

.card {
    padding: 10px 20px;
    width: auto !important;
}

.card-short {
    max-width: 800px;
}

.card-label {
    color: #f6f6f6;
}

table .table-container {
    margin-bottom: 20px;
}

table i {
    line-height: 1.5;
}

table .actions {
    text-align: right;
}

div.centered,
table .centered {
    text-align: center;
}

table tr th,
table tr td {
    border-bottom: 1px solid #343746;
    padding: 10px 20px;
    text-align: left;
}

table tr:last-of-type td {
    border: 0;
}

table tr td {
    font-weight: 300;
}

table tr th {
    color: #f6f6f6;
    font-weight: 500;
}

table a {
    color: #666666;
    transition: color ease 0.2s;
}

table a span {
    position: relative;
    top: 4px;
    display: inline-block;
}

table a:hover {
    color: #888888;
}

.icon {
    top: 4px;
    vertical-align: center;
}

form label,
.flagged-label {
    display: block;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 2px;
    font-size: 11px;
    padding: 0 4px;
    text-transform: uppercase;
    color: #898fa9;
}

.flagged-label {
    float: right;
}

form input[type="text"],
form input[type="number"],
form input[type="datetime-local"],
form select,
form textarea {
    background-color: #1e212a;
    border-bottom: 2px solid #2b2e3b;
    padding: 10px 14px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #c3cbe4;
    font-weight: 300;
    width: 100%;
    max-width: 100%;
    resize: vertical;
    line-height: 1.5;
    box-sizing: border-box;
    margin-top: 4px;
}

form input[type="text"]:focus,
form input[type="number"]:focus,
form input[type="datetime-local"]:focus,
form select:focus,
form textarea:focus {
    background-color: #2b2e3a;
    border-bottom: 2px solid #f6f6f6;
    color: #f6f6f6;
}

form textarea {
    min-height: 100px;
}

form select {
    width: 200px;
}

form span.note {
    display: block;
    font-size: 12px;
    color: #444;
    margin-top: 6px;
    padding: 0 4px;
}

form .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    padding: 0;
    margin: 4px 0;
}

form .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

form .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #898fa9;
    -webkit-transition: .4s;
    transition: .4s;
}

form .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

form input:checked + .slider {
    background-color: #34c38f;
}

form input:focus + .slider {
    box-shadow: 0 0 1px #34c38f;
}

form input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

form .file-input {
    color: transparent;
    max-width: 550px;
    width: 100%;
    margin: 4px 0;
}

form .file-input::-webkit-file-upload-button {
    visibility: hidden;
}

form .file-input::before {
    font-family: 'Roboto', sans-serif;
    content: 'Fájl tallózása';
    display: inline-block;
    background: transparent;
    border: 2px dashed #898fa9;
    color: #898fa9;
    border-radius: 4px;
    padding: 10px 14px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 300;
    font-size: 16px;
    transition: color ease 0.2s, border-color ease 0.2s;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
}

form .file-input:hover::before {
    border-color: #cd9941;
    color: #cd9941;
}

form .file-input:active {
    outline: 0;
}

form .file-input:active::before {
    background-color: #1e212a;
}

form input[type="submit"],
button.btn,
a.btn {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding: 12px 24px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #cd9941;
    border-color: #c1903d;
    border-radius: 4px;
    margin: 10px 10px 10px 0;
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1), background-color 0.3s cubic-bezier(.25,.8,.25,1);
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
}

a.btn:hover,
button.btn:hover,
form input[type="submit"]:hover {
    background-color: #957032;
}

button.btn-secondary,
input.btn-secondary,
a.btn-secondary {
    background-color: #343747 !important;
    border-color: #343747 !important;
}

button.btn-secondary:hover,
input.btn-secondary:hover,
a.btn-secondary:hover {
    background-color: #2c2f3c !important;
    border-color: #2a2c39 !important;
}

.button-group {
    margin-bottom: 20px;
}

form p {
    margin: 10px 40px 0 40px;
    color: #898fa9;
}

.qr-preview {
    margin: 10px auto;
    position: relative;
    top: -10px;
}

.fix-icons {
    position: relative;
    top: 6px;
}

.greetings {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 10vh 20px;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
}

.component-group {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #2b2e3b;
    padding: 20px 20px;
    max-width: 490px;
    border-top: 2px solid #898fa9;
}

.component-group span.note {
    margin-bottom: 0;
    padding: 0;
    margin-top: 16px;
}

.component-group h3 {
    font-size: 18px;
    text-transform: uppercase;
    color: #898fa9 !important;
    margin-bottom: 0 !important;
}

.field-group {
    padding: 10px 20px;
    max-width: 490px;
}

.field-group label {
    float: left;
}

.field-group .switch {
    float: right !important;
}

.field-group input,
.field-group textarea {
    clear: both;
}

.field-group table td {
    color: #c3cbe4;
}

h4.permission-header {
    margin: 14px 0 8px 10px;
    text-transform: uppercase;
    font-size: 14px;
}

.green-label {
    color: #34c38f !important;
}

.red-label {
    /*color: #ef4b4b !important;*/
}

.permission-box {
    max-width: 488px;
    margin-top: 10px;
    display: flex;
    color: #898fa9;
}

.permission-box span {
    margin: 0 !important;
    padding: 0 !important;
}

.permission-box:last-of-type {
    margin-bottom: 10px;
}

.permission-part:first-of-type {
    flex: 1 0 0;
    padding-right: 20px;
}

.permission-part:last-of-type {
    flex: 0 0 0;
}

.hr {
    margin: 20px 0;
    border-top: 4px solid #a0a0a0;
}

.hr-invisible {
    padding-top: 40px;
}

.content .split .payload span {
    font-weight: 300;
    color: #898fa9;
}

.greetings span {
    font-weight: 300;
    color: #f1b44c;
}

.content .split .payload table span:hover {
    color: #f1b44c;
}

.content .split .payload span.success {
    color: #34c38f;
}

.content .split .payload span.danger {
    color: #f46a6a;
}

.content .split .payload span.warning {
    color: #f1b44c;
}

.greetings h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 46px;
    padding-bottom: 40px;
    color: #F6F6F6;
}

.greetings h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 24px;
    padding-bottom: 40px;
}

.greetings .big-btn {
    width: 300px;
    max-width: 40vw;
    margin: 20px;
    border: 4px solid #9295a4;
    border-radius: 12px;
    background-color: #1e212a;
    padding: 20px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    text-decoration: none;
    color: #9295a4;
    text-transform: uppercase;
}

.greetings .big-btn:hover {
    border: 4px solid #9295a4;
    color: #9295a4;
}

.greetings .big-btn:first-of-type:hover {
    color: #39C392;
    border-color: #39C392;
}

.greetings .big-btn:last-of-type:hover {
    color: #F1B458;
    border-color: #F1B458;
}

.centered-text {
    text-align: center;
}

.menu .exit {
    display: none;
}

.header {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2b2e3a;
    color: #FFFFFF;
    padding: 10px;
    vertical-align: top;
    margin-bottom: 20px;
}

.header span {
    vertical-align: top;
}

.header .menu-icon {
    position: absolute;
    top: 8px;
    right: 40px;
    cursor: pointer;
}

.text-light {
    color: #FFFFFF;
}

.CodeMirror {
    background-color: #1e212a;
    border: 0;
    border-bottom: 2px solid #2b2e3b;
}

.editor-toolbar {
    border: 0;
    opacity: 1;
    background-color: #22252f;
}

.editor-toolbar:hover {
    opacity: 1;
}

.editor-toolbar a {
    color: #666b7f !important;
    border: 0;
}

.editor-toolbar.disabled-for-preview a {
    background: transparent !important;
    border: 0 !important;
}

.editor-toolbar a:hover {
    color: #f1b44c !important;
    background-color: transparent;
    border: 0;
}

.CodeMirror-cursor {
    border-color: #FFF;
}

.editor-toolbar.fullscreen {
    background-color: #22252f;
}

.editor-toolbar.fullscreen::before,
.editor-toolbar.fullscreen::after {
    display: none;
}

.editor-preview, .editor-preview-side {
    background-color: #16171B;
    border-color: #898fa9;
    color: #898fa9;
    font-weight: 300;
}

.editor-toolbar a.active, .editor-toolbar a:hover {
    background-color: transparent;
    color: #f1b44c !important;
}

.editor-preview h1,
.editor-preview-side h1 {
    font-size: 2.2em;
    text-align: left;
    color: #FFFFFF;
    font-weight: normal;
    margin: 16px 0 16px 0;
}

.editor-preview h2,
.editor-preview-side h2 {
    font-size: 1.8em;
    text-align: left;
    color: #FFFFFF;
    font-weight: normal;
    margin: 10px 0 10px 0;
}

.editor-preview h3,
.editor-preview-side h3 {
    font-size: 1.5em;
    text-align: left;
    color: #FFFFFF;
    font-weight: normal;
    margin: 8px 0 8px 0;
}

.editor-preview h4,
.editor-preview-side h4 {
    font-size: 1.2em;
    text-align: left;
    color: #FFFFFF;
    font-weight: normal;
    margin: 0 0 4px 0;
}

.editor-preview h5,
.editor-preview-side h5 {
    font-size: 1em;
    text-align: left;
    color: #FFFFFF;
    font-weight: normal;
    margin: 0 0 4px 0;
}

.editor-preview h6,
.editor-preview-side h6 {
    font-size: 0.8em;
    text-align: left;
    color: #FFFFFF;
    font-weight: normal;
    margin: 0 0 4px 0;
}

.editor-preview hr,
.editor-preview-side hr {
    border-bottom: 2px solid #666b7f;
    margin: 20px 0;
}

.editor-preview ul,
.editor-preview ol,
.editor-preview-side ul,
.editor-preview-side ol {
    margin: 20px 40px;
}

.editor-preview code,
.editor-preview pre,
.editor-preview-side code,
.editor-preview-side pre {
    background-color: #898fa9;
    color: #2c2f3c;
    border-radius: 4px;
    padding: 2px 4px;
}

.editor-preview pre code,
.editor-preview-side pre code {
    padding: 0;
}

.editor-preview a,
.editor-preview-side a {
    color: #f1b44c !important;
    border-bottom: 2px dashed #f1b44c !important;
    text-decoration: none;
}

.editor-preview table td,
.editor-preview table th,
.editor-preview-side table td,
.editor-preview-side table th {
    border: 0;
    padding: 12px;
}

.editor-preview p,
.editor-preview-side p {
    margin: 20px 0;
}

.editor-preview img,
.editor-preview-side img {
    width: 100%;
}

.mb-3 {
    margin-bottom: 20px;
}

.mt-3 {
    margin-top: 20px;
}

.color-watch {
    padding-left: 20px;
    display: inline;
    left: -28px;
    position: relative;
    height: 21px;
}

@media screen and (max-width: 800px) {
    .content .split {
        display: block;
    }

    .content .split .menu {
        display: none;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        max-width: 100vw;
        color: #FFFFFF;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 0;
        box-sizing: border-box;
        border: 0;
    }

    .content .menu h1 {
        display: none;
    }

    .content .split .payload {
        display: block;
        padding: 0;
        margin: 0;
    }

    .content .table-container {
        overflow-x: scroll;
        width: 100%;
    }

    .menu .exit {
        display: block;
        position: absolute;
        top: 10px;
        right: 0;
        padding: 0 20px;
        font-size: 24px;
        cursor: pointer;
    }

    .content .split .menu .separate {
        padding-top: 40px;
    }

    .content .split {
        padding-top: 40px;
    }

    .header {
        display: block;
    }

    .content .split .payload .page {
        padding: 20px;
        width: calc(100% - 40px);
    }
}

@media screen and (max-width: 570px) {
    form input[type="text"],
    form input[type="number"],
    form input[type="datetime-local"],
    form select,
    form textarea {
        max-width: calc(100vw - 65px);
    }
}
