* {
    margin: 0;
    padding: 0;
    border: 0;
}

object {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    overflow-x: hidden;
    letter-spacing: 1px;
    width: 100%;
    color: #FFF;
    height: 100%;
    font-size: 0;
}

.all-tracker {
    position: fixed;
    top: 40px;
    right: 40px;
    z-index: 100000;
    font-size: 18px;
    padding: 10px 6px;
    background-color: rgba(0,0,0,0.6);
    text-shadow: 1px 1px 0 #000000;
}

td {
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
}

.buttons {
    z-index: 100000;
    position: fixed;
    top: 10px;
    right: 40px;
}

.buttons button {
    background-color: rgba(0, 0, 0, 0.4);
    border: 0;
    color: #FFFFFF;
    font-size: 18px;
    padding: 4px 8px;
    appearance: none;
    outline: 0;
    vertical-align: top;
    margin-right: 10px;
    max-height: 26px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: rgba(0,0,0,0.6);
}

.cat {
    padding: 6px;
    border-radius: 6px;
    background-color: #FFFFFF;
}

.cat-1 {
    background-color: #FF0000;
}

.cat-3 {
    background-color: #FF00FF;
}

.cat-2 {
    background-color: #00FFFF;
}

.cat-4 {
    background-color: #000000;
}

.cat-5 {
    background-color: #2B2E88;
}