<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="hu">
<head th:replace="layout :: head">
</head>
<body>
<div class="content">
    <div class="split">
        <div th:replace="layout :: menu">
        </div>
        <div class="payload">
            <div class="page">
                <h2>Admin panel</h2>
                <p class="highlight">
                    A G7 weboldalának beállításaihoz válassz a menüből.
                </p>
            </div>
        </div>
    </div>
</body>
</html>