<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="hu">
<head th:replace="layout :: head">
</head>
<body>
<div class="content">
    <div class="split">
        <div th:replace="layout :: mobile"></div>
        <div th:replace="layout :: menu(${user})">
        </div>
        <div class="payload">
            <div class="page">
                <h2>Admin panel</h2>
                <p class="highlight">
                    A G7 weboldalának beállításaihoz válassz a menüből.
                </p>

                <span>ne felejtsétek:</span>
                <p th:text="${motd}"></p>

                <div th:if="${staffMessage != ''}"  class="hr"></div>

                <h3 th:if="${staffMessage != ''}" class="centered-text">SZOLGÁLATI KÖZLEMÉNY</h3>
                <p th:if="${staffMessage != ''}"  th:text="${staffMessage}" class="centered-text"></p>

                <div th:if="${staffMessage != ''}"  class="hr"></div>

                <a th:href="@{/open-site}" class="btn" target="_blank">Vissza a G7.SCH-ra</a>
            </div>
        </div>
    </div>
</body>
</html>