<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="hu">
<head th:replace="layout :: head">
</head>
<body>
<script th:inline="javascript">
    function changeRoleText(property) {
        const roles = document.getElementById(property).value.split(',');
        /*<![CDATA[*/
        const roleTypes = [[${T(hu.bme.sch.cmsch.model.RoleType).names()}]];
        /*]]>*/
        roleTypes.forEach(role => {
            if (document.getElementById(`${property}_${role}`) != null)
                document.getElementById(`${property}_${role}`).checked = roles.includes(role);
        });
    }
    function changeRoleField(property, role) {
        let roles = document.getElementById(property).value.split(',');
        roles = roles.filter(item => item !== role && item !== '')
        if (document.getElementById(`${property}_${role}`).checked)
            roles.push(role)
        document.getElementById(property).value = roles.join(",")
    }
    function changePeopleText(property) {
        const people = JSON.parse(document.getElementById(property).value);
        let resultHtml = "";
        let id = 0;
        people.forEach(person => {
            if (typeof person.name !== 'undefined' && typeof person.roles !== 'undefined' && typeof person.avatar !== 'undefined' && person.name !== '') {
                resultHtml += `
                    <div class="card mb-3">
                        <label for="${property}_${id}_name">Név</label>
                        <input id="${property}_${id}_name" type="text" value="${person.name}" onchange="savePeople('${property}')">

                        <label for="${property}_${id}_roles">Cimkék</label>
                        <input id="${property}_${id}_roles" type="text" value="${person.roles}" onchange="savePeople('${property}')">

                        <label for="${property}_${id}_avatar">Avatar url</label>
                        <input id="${property}_${id}_avatar" type="text" value="${person.avatar}" onchange="savePeople('${property}')">
                    </div>`;
                ++id;
            }
        });

        resultHtml += `<div class="card centered" id="people_${property}_add"><button type="button" class="btn" onclick="addPeople('${property}')">+</button></div>`;

        document.getElementById(`people_${property}`).innerHTML = resultHtml;
    }
    function addPeople(property) {
        let id = 0;
        while (typeof document.getElementById(`${property}_${id}_name`) !== 'undefined' && document.getElementById(`${property}_${id}_name`) !== null) {
            ++id;
        }
        const element = document.createElement('div');
        element.innerHTML = `
                    <div class="card mb-3">
                        <label for="${property}_${id}_name">Név</label>
                        <input id="${property}_${id}_name" type="text" value="" onchange="savePeople('${property}')">

                        <label for="${property}_${id}_roles">Cimkék</label>
                        <input id="${property}_${id}_roles" type="text" value="" onchange="savePeople('${property}')">

                        <label for="${property}_${id}_avatar">Avatar url</label>
                        <input id="${property}_${id}_avatar" type="text" value="" onchange="savePeople('${property}')">
                    </div>`;
        let target = document.getElementById(`people_${property}_add`);
        target.parentNode.insertBefore(element, target);
    }
    function savePeople(property) {
        let id = 0;
        let result = [];
        while (typeof document.getElementById(`${property}_${id}_name`) !== 'undefined' && document.getElementById(`${property}_${id}_name`) !== null) {
            const name = document.getElementById(`${property}_${id}_name`).value;
            const roles = document.getElementById(`${property}_${id}_roles`).value;
            const avatar = document.getElementById(`${property}_${id}_avatar`).value;

            if (name !== null && roles !== null && avatar !== null && name !== '') {
                result.push({name: name, roles: roles, avatar: avatar});
            }
            ++id;
        }
        document.getElementById(property).value = JSON.stringify(result);
    }
</script>
<div class="content">
    <div class="split">
        <div th:replace="layout :: mobile"></div>
        <div th:replace="layout :: menu(${user})"></div>

        <div class="payload">
            <div class="page page-short">
                <h2 th:text="${title}">View edit</h2>

                <form th:action="|@{/admin/control}/component/${component}/settings|" method="post">

                    <object th:each="input : ${settings}" th:remove="tag">

                        <object th:if="${user.role.value >= input.minRoleToEdit.value}" th:remove="tag">

                            <div th:if="${input.type.name() == 'COMPONENT_GROUP'}" class="component-group">
                                <h3 th:text="${input.fieldName}">Group Name</h3>
                                <span class="note" th:text="${input.description}" th:if="${input.description != ''}"></span>
                            </div>

                            <div th:if="${input.type.name() == 'TEXT'}" class="field-group">
                                <label th:for="${input.property}"
                                       th:text="${input.fieldName}">
                                </label>
                                <span th:class="|flagged-label ${input.serverSideOnly ? 'green-label' : 'red-label'}|"
                                      th:text="${input.serverSideOnly ? 'PRiVATE': 'PUBLIC'}">
                                </span>
                                <div style="clear:both"></div>
                                <input type="text"
                                       th:name="${input.property}"
                                       th:id="${input.property}"
                                       th:value="${input.getValue()}"
                                       autocomplete="off"
                                />
                                <span class="note" th:text="${input.description}"></span>
                            </div>

                            <div th:if="${input.type.name() == 'NUMBER'}" class="field-group">
                                <label th:for="${input.property}"
                                       th:text="${input.fieldName}">
                                </label>
                                <span th:class="|flagged-label ${input.serverSideOnly ? 'green-label' : 'red-label'}|"
                                      th:text="${input.serverSideOnly ? 'PRiVATE': 'PUBLIC'}">
                                </span>
                                <div style="clear:both"></div>
                                <input type="number"
                                       th:name="${input.property}"
                                       th:id="${input.property}"
                                       th:value="${input.getValue()}"
                                       autocomplete="off"
                                       required
                                />
                                <span class="note" th:text="${input.description}"></span>
                            </div>

                            <div th:if="${input.type.name() == 'LONG_TEXT'}" class="field-group">
                                <label th:for="${input.property}"
                                       th:text="${input.fieldName}">
                                </label>
                                <span th:class="|flagged-label ${input.serverSideOnly ? 'green-label' : 'red-label'}|"
                                      th:text="${input.serverSideOnly ? 'PRiVATE': 'PUBLIC'}">
                                </span>
                                <div style="clear:both"></div>
                                <textarea
                                       th:name="${input.property}"
                                       th:id="${input.property}"
                                       th:text="${input.getValue()}"
                                       autocomplete="off">
                                </textarea>
                                <span class="note" th:text="${input.description}"></span>
                            </div>

                            <div th:if="${input.type.name() == 'LONG_TEXT_MARKDOWN'}" class="field-group">
                                <label th:for="${input.property}"
                                       th:text="${input.fieldName}">
                                </label>
                                <span th:class="|flagged-label ${input.serverSideOnly ? 'green-label' : 'red-label'}|"
                                      th:text="${input.serverSideOnly ? 'PRiVATE': 'PUBLIC'}">
                                </span>
                                <div style="clear: both"></div>
                                <textarea
                                        th:name="${input.property}"
                                        th:id="${input.property}"
                                        th:text="${input.getValue()}"
                                        autocomplete="off">
                                </textarea>
                                <span class="note" th:text="${input.description}"></span>
                                <script th:inline="javascript">
                                    var name = /*[[${input.property}]]*/ '';
                                    var editor = new SimpleMDE({
                                        element: document.getElementById(name),
                                        spellChecker: false
                                    });
                                </script>
                            </div>

                            <div th:if="${input.type.name() == 'BOOLEAN'}" class="field-group">
                                <label th:for="${input.property}"
                                       th:text="${input.fieldName}">
                                </label>
                                <span th:class="|flagged-label ${input.serverSideOnly ? 'green-label' : 'red-label'}|"
                                      th:text="${input.serverSideOnly ? 'PRiVATE': 'PUBLIC'}">
                                </span>
                                <div style="clear:both"></div>
                                <label class="switch">
                                    <input type="checkbox"
                                           th:checked="${input.isValueTrue()}"
                                           th:name="${input.property}"
                                           th:id="${input.property}" />
                                    <span class="slider"></span>
                                </label>
                                <span class="note" th:text="${input.description}"></span>
                                <div style="clear:both"></div>
                            </div>

                            <div th:if="${input.type.name() == 'MULTIPLE_PEOPLE'}" class="field-group">
                                <label th:for="${input.property}"
                                       th:text="${input.fieldName}">
                                </label>
                                <span th:class="|flagged-label ${input.serverSideOnly ? 'green-label' : 'red-label'}|"
                                      th:text="${input.serverSideOnly ? 'PRIVATE': 'PUBLIC'}">
                                </span>
                                <div style="clear:both"></div>
                                <span class="note" th:text="${input.description}" style="margin-bottom: 20px;"></span>

                                <div th:id="|people_${input.property}|">

                                </div>

                                <input type="text"
                                       th:name="${input.property}"
                                       th:id="${input.property}"
                                       th:value="${input.getValue()}"
                                       autocomplete="off"
                                       style="display: none"
                                />
                                <script th:inline="javascript">
                                    changePeopleText(/*[[${input.property}]]*/ '');
                                </script>
                            </div>

                            <div th:if="${input.type.name() == 'MIN_ROLE'}" class="field-group">
                                <label th:for="${input.property}"
                                       th:text="${input.fieldName}">
                                </label>
                                <span th:class="|flagged-label ${input.serverSideOnly ? 'green-label' : 'red-label'}|"
                                      th:text="${input.serverSideOnly ? 'PRIVATE': 'PUBLIC'}">
                                </span>
                                <div style="clear:both"></div>
                                <span class="note" th:text="${input.description}" style="margin-bottom: 20px;"></span>

                                <table>
                                    <tr th:each="role : ${T(hu.bme.sch.cmsch.model.RoleType).values()}"
                                        th:if="${role.value < T(hu.bme.sch.cmsch.model.RoleType).ADMIN.value}">

                                        <td th:text="${role.name()}">BASIC</td>
                                        <td>
                                            <label class="switch"
                                                   th:data-param1="${input.property}" th:data-param2="${role.name()}"
                                                   th:onclick="|changeRoleField(this.getAttribute('data-param1'), this.getAttribute('data-param2'))|">
                                                <input type="checkbox"
                                                       th:name="|${input.property}_${role.name()}|"
                                                       th:id="|${input.property}_${role.name()}|"/>
                                                <span class="slider"></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td th:text="${T(hu.bme.sch.cmsch.model.RoleType).ADMIN.name()}" class="disabled">ADMIN</td>
                                        <td>
                                            <label class="switch disabled">
                                                <input type="checkbox" th:name="|${input.property}_ADMIN|" checked disabled />
                                                <span class="slider disabled"></span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td th:text="${T(hu.bme.sch.cmsch.model.RoleType).SUPERUSER.name()}" class="disabled">SUPERUSER</td>
                                        <td>
                                            <label class="switch disabled">
                                                <input type="checkbox" th:name="|${input.property}_SUPERUSER|" checked disabled />
                                                <span class="slider disabled"></span>
                                            </label>
                                        </td>
                                    </tr>
                                </table>

                                <input type="text"
                                       th:name="${input.property}"
                                       th:id="${input.property}"
                                       th:value="${input.getValue()}"
                                       autocomplete="off"
                                       style="display: none"
                                />
                                <script th:inline="javascript">
                                    changeRoleText(/*[[${input.property}]]*/ '');
                                </script>
                            </div>

                        </object>

                    </object>

                    <input type="submit" value="Mentés"/>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
