<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="hu">
<head th:fragment="head">
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <title>CMSch Admin</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <meta name="theme-color" content="#444444">
    <meta name="msapplication-navbutton-color" content="#444444"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="#444444"/>
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}" />
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/images/apple-touch-icon.png}" />
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon-32x32.png}" />
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon-16x16.png}" />
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body>
    <div class="content">
        <div class="split">
            <div class="header" th:fragment="mobile">
                <span>CM<b>SCH</b> ADMIN</span>
                <span class="material-icons fix-icons menu-icon" onclick="document.getElementById('menu').style.display = 'block'">menu</span>
            </div>
            <div class="menu" th:fragment="menu(userEntity)" id="menu">
                <h1>CM<b>SCH</b> ADMIN</h1>
                <div class="exit" onclick="document.getElementById('menu').style.display = 'none'">X</div>
                <div class="separate"></div>
                <h2>Általános</h2>
                <a href="#" th:if="${userEntity.isStaff() || userEntity.isAdmin()}" th:href="@{/admin/control/basics}"><span class="material-icons fix-icons">home</span> Kezdő menü</a>
                <a href="#" th:href="@{/control/open-site}"><span class="material-icons fix-icons">launch</span> Oldal megyitása</a>

                <h2 th:if="${userEntity.isAdmin() || userEntity.getGrantMedia()}">PR</h2>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantMedia()}" th:href="@{/admin/control/news}"><span class="material-icons fix-icons">newspaper</span> Hírek</a>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantMedia()}" th:href="@{/admin/control/events}"><span class="material-icons fix-icons">event</span> Események</a>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantMedia()}" th:href="@{/admin/control/extra-pages}"><span class="material-icons fix-icons">article</span> Extra oldalak</a>

                <h2 th:if="${userEntity.isAdmin() || userEntity.getGrantGroupManager() || userEntity.getGrantListUsers() || userEntity.getGrantTracker()}">Gárdatanköris és Infopult</h2>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantGroupManager()}" th:href="@{/admin/control/groups}"><span class="material-icons fix-icons">groups</span> Tankörök</a>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantGroupManager() || userEntity.getGrantListUsers()}" th:href="@{/admin/control/users}"><span class="material-icons fix-icons">person</span> Felhasználók</a>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantGroupManager() || userEntity.getGrantListUsers()}" th:href="@{/admin/control/group-to-user}"><span class="material-icons fix-icons">people</span> Tankör tagságok</a>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantGroupManager() || userEntity.getGrantListUsers()}" th:href="@{/admin/control/guild-to-user}"><span class="material-icons fix-icons">badge</span> Gárda tagságok</a>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantGroupManager() || userEntity.getGrantListUsers() || userEntity.getGrantTracker()}" th:href="@{/admin/control/track-group}"><span class="material-icons fix-icons">my_location</span> Tankör követése</a>

                <h2 th:if="${userEntity.isAdmin() || userEntity.getGrantRateAchievement() || userEntity.getGrantCreateAchievement()}">Bucketlist</h2>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantCreateAchievement()}" th:href="@{/admin/control/achievements}"><span class="material-icons fix-icons">emoji_events</span> Bucketlist feladatok</a>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantCreateAchievement()}" th:href="@{/admin/control/categories}"><span class="material-icons fix-icons">category</span> Bucketlist kategóriák</a>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantRateAchievement()}" th:href="@{/admin/control/rate-achievements}"><span class="material-icons fix-icons">thumbs_up_down</span> Bucketlist értékelés</a>

                <h2 th:if="${userEntity.isAdmin() || userEntity.getGrantCreateAchievement() || userEntity.getGrantMedia()}">Toplista</h2>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantCreateAchievement() || userEntity.getGrantMedia()}" th:href="@{/admin/control/user-toplist}"><span class="material-icons fix-icons">leaderboard</span> Felhasználói toplista</a>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantCreateAchievement() || userEntity.getGrantMedia()}" th:href="@{/admin/control/group-toplist}"><span class="material-icons fix-icons">leaderboard</span> Tankör toplista</a>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantCreateAchievement()}" th:href="@{/admin/control/check-ratings}"><span class="material-icons fix-icons">fact_check</span> Pontok ellenőrzése</a>

                <h2 th:if="${userEntity.isAdmin() || userEntity.getGrantRiddle()}">Riddle</h2>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantRiddle()}" th:href="@{/admin/control/riddles}"><span class="material-icons fix-icons">task</span> Riddleök</a>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantRiddle()}" th:href="@{/admin/control/riddle-categories}"><span class="material-icons fix-icons">category</span> Riddle kategóriák</a>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantRiddle()}" th:href="@{/admin/control/riddles-by-users}"><span class="material-icons fix-icons">checklist_rtl</span> Riddle beadások</a>

                <h2 th:if="${userEntity.isAdmin() || userEntity.getGrantMedia()}">Tokenek</h2>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantMedia()}" th:href="@{/admin/control/tokens}"><span class="material-icons fix-icons">token</span> Tokenek</a>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantMedia()}" th:href="@{/admin/control/token-properties-user}"><span class="material-icons fix-icons">local_activity</span> Fehasználói tokenek</a>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantMedia()}" th:href="@{/admin/control/token-properties-group}"><span class="material-icons fix-icons">local_activity</span> Csoportos tokenek</a>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantMedia()}" th:href="@{/admin/control/token-properties-of-groups}"><span class="material-icons fix-icons">file_download</span> Jelenléti export</a>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantMedia()}" th:href="@{/admin/control/token-properties-type}"><span class="material-icons fix-icons">analytics</span> Token statisztika</a>

                <h2 th:if="${userEntity.isAdmin() || userEntity.getGrantSellProduct() || userEntity.getGrantSellFood() || userEntity.getGrantSellMerch() || userEntity.getGrantGroupManager() || userEntity.getGrantListUsers() || userEntity.getGrantMedia()}">Árusítás</h2>
                <a href="#" th:if="${userEntity.isAdmin()}" th:href="@{/admin/control/products}"><span class="material-icons fix-icons">inventory_2</span> Termékek</a>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantSellProduct()}" th:href="@{/admin/control/sell-products}"><span class="material-icons fix-icons">point_of_sale</span> Termék árusítás</a>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantSellFood()}" th:href="@{/admin/control/sell-food}"><span class="material-icons fix-icons">restaurant</span> Étel árusítás</a>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantSellMerch()}" th:href="@{/admin/control/sell-merch}"><span class="material-icons fix-icons">sell</span> Merch árusítás</a>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantGroupManager() || userEntity.getGrantListUsers() || userEntity.getGrantMedia()}" th:href="@{/admin/control/track-sold}"><span class="material-icons fix-icons">receipt_long</span> Eladott termékek</a>

                <h2 th:if="${userEntity.isAdmin() || userEntity.getGrantGroupDebtsMananger()}">Tankör</h2>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantGroupDebtsMananger()}" th:href="@{/admin/control/debts-of-my-group}"><span class="material-icons fix-icons">account_balance</span> Tanköröm tartozásai</a>
                <a href="#" th:if="${(userEntity.isStaff() || userEntity.isAdmin()) && userEntity.groupName != ''}" th:href="@{/admin/control/members-of-my-group}"><span class="material-icons fix-icons">group</span> Tanköröm tagjai</a>
                <a href="#" th:if="${(userEntity.isStaff() || userEntity.isAdmin()) && userEntity.groupName != ''}" th:href="@{/admin/control/share-location}"><span class="material-icons fix-icons">share_location</span> Helymeghatározás</a>

                <h2 th:if="${userEntity.isAdmin() || userEntity.getGrantFinance()}">Gazdaságis</h2>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantFinance()}" th:href="@{/admin/control/debts}"><span class="material-icons fix-icons">account_balance</span> Tartozások</a>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantFinance()}" th:href="@{/admin/control/debts-by-group}"><span class="material-icons fix-icons">account_balance</span> Tankörök tartozásai</a>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantFinance()}" th:href="@{/admin/control/debts-by-users}"><span class="material-icons fix-icons">account_balance</span> Felhasználók tartozásai</a>
                <a href="#" th:if="${userEntity.isStaff() || userEntity.isAdmin()}" th:href="@{/admin/control/my-debts}"><span class="material-icons fix-icons">account_balance_wallet</span> Saját tartozásaim</a>

                <h2 th:if="${userEntity.isAdmin() || userEntity.getGrantTracker()}">Admin</h2>
                <a href="#" th:if="${userEntity.isAdmin()}" th:href="@{/admin/control/files}"><span class="material-icons fix-icons">folder</span> Fájlok</a>
                <a href="#" th:if="${userEntity.isAdmin()}" th:href="@{/admin/control/locations}"><span class="material-icons fix-icons">place</span> Pozíciók</a>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantTracker()}" th:href="@{/admin/control/tracking}"><span class="material-icons fix-icons">map</span> Követés (térkép)</a>
                <a href="#" th:if="${userEntity.isAdmin()}" th:href="@{/admin/control/config}"><span class="material-icons fix-icons">settings</span> Beállítások</a>

                <h2 th:if="${userEntity.isSuperuser()}">Experimental</h2>
                <a href="#" th:if="${userEntity.isSuperuser()}" th:href="@{/admin/control/import-debts-complete}"><span class="material-icons fix-icons">upload_file</span> Tranzakció import</a>

                <div class="separate"></div>

                <a href="#" th:href="@{/control/logout}"><span class="material-icons fix-icons">logout</span> Kijelentkezés</a>

                <div class="separate"></div>
            </div>
            <div class="payload">
                <div class="page">
                    <h2>Lorem ipsum</h2>
                    <p class="highlight">
                        Curabitur faucibus neque eget diam elementum molestie. Duis dui magna, venenatis eget sapien vel, dignissim iaculis sapien. Fusce ut risus iaculis, rhoncus mi eu, laoreet turpis. Donec rhoncus elit eu enim convallis mattis.
                    </p>
                    <p>
                        Vestibulum fringilla erat <a href="/site">malesuada metus</a> laoreet, non lacinia ante posuere. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed commodo velit porttitor metus gravida, non egestas purus laoreet. Nulla nec eros sit amet nunc imperdiet condimentum. Quisque at dignissim odio, sed tincidunt libero. Curabitur semper eu odio a efficitur.
                    </p>
                    <p>
                        Vestibulum a massa lorem. Maecenas finibus efficitur magna at egestas. Integer ac mi egestas neque dapibus sollicitudin. Praesent non placerat odio. Donec ac ante ut justo malesuada mollis at sit amet felis. Fusce ultricies et sem faucibus mattis. Morbi vel accumsan dolor, sed dapibus lectus. Morbi tristique leo eu augue mollis dapibus. Pellentesque commodo fringilla auctor. Aliquam vel felis nec turpis placerat sollicitudin.
                    </p>

                    <table>
                        <tr>
                            <th>Név</th>
                            <th>Neptun</th>
                            <th>Column3</th>
                            <th>Column4</th>
                            <th>Column5</th>
                            <th>Column6</th>
                            <th>Column7</th>
                        </tr>
                        <tr>
                            <td>Név</td>
                            <td>Neptun</td>
                            <td>Column3</td>
                            <td>Column4</td>
                            <td>Column5</td>
                            <td>Column6</td>
                            <td><a href="#"><span class="material-icons">edit</span></a></td>
                        </tr>
                        <tr>
                            <td>Név</td>
                            <td>Neptun</td>
                            <td>Column3</td>
                            <td>Column4</td>
                            <td>Column5</td>
                            <td>Column6</td>
                            <td>Column7</td>
                        </tr>
                        <tr>
                            <td>Név</td>
                            <td>Neptun</td>
                            <td>Column3</td>
                            <td>Column4</td>
                            <td>Column5</td>
                            <td>Column6</td>
                            <td>Column7</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        A CMSch projektet a kir-dev készítette<br />
        <a href="https://kir-dev.sch.bme.hu/">kir-dev</a> :: <a href="https://pek.sch.bme.hu/profiles/Gerviba">Schámi</a>, TODO többiek
        2022
    </div>
</body>
</html>



