<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="hu">
<head th:fragment="head">
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <title>G7 Admin</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <meta name="theme-color" content="#444444">
    <meta name="msapplication-navbutton-color" content="#444444"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="#444444"/>
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}" />
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/images/apple-touch-icon.png}" />
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon-32x32.png}" />
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon-16x16.png}" />
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body>
    <div class="content">
        <div class="split">
            <div class="header" th:fragment="mobile">
                <span>G7 ADMIN</span>
                <span class="material-icons fix-icons menu-icon" onclick="document.getElementById('menu').style.display = 'block'">menu</span>
            </div>
            <div class="menu" th:fragment="menu(userEntity)" id="menu">
                <h1>G7 ADMIN</h1>
                <div class="exit" onclick="document.getElementById('menu').style.display = 'none'">X</div>
                <div class="separate"></div>
                <a href="#" th:href="@{/admin/control/basics}">Alap adatok</a>

                <h2 th:if="${userEntity.isAdmin()}">PR</h2>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantMedia()}" th:href="@{/admin/control/news}">Hírek</a>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantMedia()}" th:href="@{/admin/control/events}">Események</a>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantMedia()}" th:href="@{/admin/control/extra-pages}">Extra oldalak</a>

                <h2 th:if="${userEntity.isAdmin()}">Gárdatanköris és Infopult</h2>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantGroupManager()}" th:href="@{/admin/control/groups}">Tankörök</a>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantGroupManager() || userEntity.getGrantListUsers()}" th:href="@{/admin/control/users}">Felhasználók</a>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantGroupManager() || userEntity.getGrantListUsers()}" th:href="@{/admin/control/group-to-user}">Tankör tagságok</a>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantGroupManager() || userEntity.getGrantListUsers()}" th:href="@{/admin/control/guild-to-user}">Gárda tagságok</a>

                <h2 th:if="${userEntity.isAdmin()}">Bucketlist</h2>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantCreateAchievement()}" th:href="@{/admin/control/achievements}">Bucketlist feladatok</a>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantRateAchievement()}" th:href="@{/admin/control/rate-achievements}">Bucketlist értékelés</a>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantCreateAchievement() || userEntity.getGrantRateAchievement()}" th:href="@{/admin/control/toplist}">Toplista</a>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantCreateAchievement()}" th:href="@{/admin/control/check-ratings}">Pontok ellenőrzése</a>

                <h2 th:if="${userEntity.isAdmin()}">Árusítás</h2>
                <a href="#" th:if="${userEntity.isAdmin()}" th:href="@{/admin/control/products}">Termékek</a>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantSellProduct()}" th:href="@{/admin/control/sell-products}">Termék árusítás</a>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantSellFood()}" th:href="@{/admin/control/sell-food}">Étel árusítás</a>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantSellMerch()}" th:href="@{/admin/control/sell-merch}">Merch árusítás</a>

                <h2 th:if="${userEntity.isAdmin()}">Tankör</h2>
                <a href="#" th:if="${userEntity.isAdmin() || userEntity.getGrantGroupDebtsMananger()}" th:href="@{/admin/control/debts-of-my-group}">Tanköröm tartozásai</a>
                <a href="#" th:href="@{/admin/control/members-of-my-group}">Tanköröm tagjai</a>

                <h2 th:if="${userEntity.isAdmin()}">Gazdaságis</h2>
                <a href="#" th:if="${userEntity.isAdmin()}" th:href="@{/admin/control/debts}">Tartozások</a>
                <a href="#" th:if="${userEntity.isAdmin()}" th:href="@{/admin/control/debts-by-group}">Tartozások tankörönként</a>
                <a href="#" th:if="${userEntity.isAdmin()}" th:href="@{/admin/control/debts-by-users}">Tartozások felhasználónként</a>

                <h2 th:if="${userEntity.isAdmin()}">Admin</h2>
                <a href="#" th:if="${userEntity.isAdmin()}" th:href="@{/admin/control/files}">Fájlok</a>
                <a href="#" th:if="${userEntity.isAdmin()}" th:href="@{/admin/control/config}">Beállítások</a>

                <div class="separate"></div>

                <a href="#" th:href="@{/admin/logout}">Kijelentkezés</a>

                <div class="separate"></div>
            </div>
            <div class="payload">
                <div class="page">
                    <h2>Lorem ipsum</h2>
                    <p class="highlight">
                        Curabitur faucibus neque eget diam elementum molestie. Duis dui magna, venenatis eget sapien vel, dignissim iaculis sapien. Fusce ut risus iaculis, rhoncus mi eu, laoreet turpis. Donec rhoncus elit eu enim convallis mattis.
                    </p>
                    <p>
                        Vestibulum fringilla erat <a href="/site">malesuada metus</a> laoreet, non lacinia ante posuere. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed commodo velit porttitor metus gravida, non egestas purus laoreet. Nulla nec eros sit amet nunc imperdiet condimentum. Quisque at dignissim odio, sed tincidunt libero. Curabitur semper eu odio a efficitur.
                    </p>
                    <p>
                        Vestibulum a massa lorem. Maecenas finibus efficitur magna at egestas. Integer ac mi egestas neque dapibus sollicitudin. Praesent non placerat odio. Donec ac ante ut justo malesuada mollis at sit amet felis. Fusce ultricies et sem faucibus mattis. Morbi vel accumsan dolor, sed dapibus lectus. Morbi tristique leo eu augue mollis dapibus. Pellentesque commodo fringilla auctor. Aliquam vel felis nec turpis placerat sollicitudin.
                    </p>

                    <table>
                        <tr>
                            <th>Név</th>
                            <th>Neptun</th>
                            <th>Column3</th>
                            <th>Column4</th>
                            <th>Column5</th>
                            <th>Column6</th>
                            <th>Column7</th>
                        </tr>
                        <tr>
                            <td>Név</td>
                            <td>Neptun</td>
                            <td>Column3</td>
                            <td>Column4</td>
                            <td>Column5</td>
                            <td>Column6</td>
                            <td><a href="#"><span class="material-icons">edit</span></a></td>
                        </tr>
                        <tr>
                            <td>Név</td>
                            <td>Neptun</td>
                            <td>Column3</td>
                            <td>Column4</td>
                            <td>Column5</td>
                            <td>Column6</td>
                            <td>Column7</td>
                        </tr>
                        <tr>
                            <td>Név</td>
                            <td>Neptun</td>
                            <td>Column3</td>
                            <td>Column4</td>
                            <td>Column5</td>
                            <td>Column6</td>
                            <td>Column7</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        A G7 web projekt backendjét a kir-dev, a látogatói lapot pedig az schdesign készítette<br />
        <a href="https://kir-dev.sch.bme.hu/">kir-dev</a> :: <a href="https://pek.sch.bme.hu/profiles/Gerviba">Schámi</a>,
        <a href="https://schdesign.hu/">schdesign</a> :: <a href="https://pek.sch.bme.hu/profiles/andrisborbas">Andris</a><br />
        2021
    </div>
</body>
</html>



