<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="hu">
<head th:replace="layout :: head">
</head>
<body>
<div class="content">
    <div class="split">
        <div th:replace="layout :: mobile"></div>
        <div th:replace="layout :: menu(${user})"></div>

        <div class="payload">
            <div class="page">
                <h2>Menük szerkesztése</h2>
                <h3 th:text="${role}"></h3>

                <form th:action="@{/admin/control/menu/edit}" method="post">

                    <div class="table-container">
                        <table>
                            <tr>

                                <th>Menü</th>
                                <th>Almenü</th>
                                <th>Sorrend</th>
                                <th class="actions"></th>
                            </tr>
                            <tr th:each="row : ${rows}">
                            </tr>
                        </table>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
