<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="hu">
<head th:fragment="head">
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <title>Tankör Tracker</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/tracker.css" th:href="@{/tracker.css}">
    <meta name="theme-color" content="#000000">
    <meta name="msapplication-navbutton-color" content="#000000"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000"/>
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}" />
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/images/apple-touch-icon.png}" />
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon-32x32.png}" />
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon-16x16.png}" />
    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v6.6.1/css/ol.css" type="text/css">
</head>
<body onload="onInit();">

<div class="buttons">
    <button onclick="document.getElementById('table').style.display = 'block'">&forall;</button>
    <button onclick="document.getElementById('table').style.display = 'none'">X</button>
</div>

<div class="all-tracker" id="table">
    <table>
        <thead>
            <tr>
                <td></td>
                <td>Név</td>
                <td>Friss.</td>
                <td>Pontos.</td>
                <td>Magasság</td>
            </tr>
        </thead>
        <tbody id="data">
            <!--<tr>
                <td><div class="cat cat-1"></div></td>
                <td>I12</td>
                <td>5s</td>
                <td>20</td>
                <td>147.01</td>
            </tr>-->
        </tbody>
    </table>
</div>

<div id="map" style="width: 100%; height: 100vh"></div>

<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v6.6.1/build/ol.js"></script>

<script th:inline="javascript">
    const apiUrl = /*[[${url}]]*/ "/api/track";

    var attribution = new ol.control.Attribution({
        collapsible: false
    });

    var map = new ol.Map({
        controls: ol.control.defaults({attribution: false}).extend([attribution]),
        layers: [
            // new ol.layer.Tile({
            //     source: new ol.source.OSM()
            // })
            new ol.layer.Tile({
                title:'terrain-background',
                source: new ol.source.Stamen({ layer: 'terrain' })
            })
        ],
        target: 'map',
        view: new ol.View({
            center: ol.proj.fromLonLat([19.056076, 47.476683]),
            maxZoom: 20,
            zoom: 16
        })
    });


    var iconStyle1 = new ol.style.Style({
        image:  new ol.style.Circle({
            radius: 4,
            stroke: new ol.style.Stroke({
                color: '#fff'
            }),
            fill: new ol.style.Fill({
                color: '#FF0000'
            })
        })
    });

    var iconStyle2 = new ol.style.Style({
        image:  new ol.style.Circle({
            radius: 4,
            stroke: new ol.style.Stroke({
                color: '#fff'
            }),
            fill: new ol.style.Fill({
                color: '#FF00FF'
            })
        })
    });

    var iconStyle3 = new ol.style.Style({
        image:  new ol.style.Circle({
            radius: 4,
            stroke: new ol.style.Stroke({
                color: '#fff'
            }),
            fill: new ol.style.Fill({
                color: '#00AAAA'
            })
        })
    });

    var labelStyle = new ol.style.Style({
        text: new ol.style.Text({
            font: '16px Calibri,sans-serif',
            overflow: true,
            textAlign: 'center',
            offsetY: -12,
            fill: new ol.style.Fill({
                color: '#000'
            }),
            stroke: new ol.style.Stroke({
                color: '#fff',
                width: 3
            })
        })
    });

    var iconStyle4 = new ol.style.Style({
        image:  new ol.style.Circle({
            radius: 4,
            stroke: new ol.style.Stroke({
                color: '#fff'
            }),
            fill: new ol.style.Fill({
                color: '#444444'
            })
        })
    });

    var style = [iconStyle1, labelStyle];
    var styleAdmin = [iconStyle2, labelStyle];
    var styleGroup = [iconStyle3, labelStyle];
    var styleSupport = [iconStyle4, labelStyle];

    var layer = new ol.layer.Vector({
        source: new ol.source.Vector({
            features: [

            ]
        }),
        style: function(feature) {
            labelStyle.getText().setText(feature.get('name'));
            if (feature.get('category') === 3) {
                return styleAdmin;
            } else if (feature.get('category') === 2) {
                return styleGroup;
            } else if (feature.get('category') === 4) {
                return styleSupport;
            } else {
                return style;
            }
        }
    });
    map.addLayer(layer);

    async function httpFetchData(method = 'POST', url = '') {
        const response = await fetch(url, {
            method: method,
            mode: 'no-cors',
            cache: 'no-cache'
        });
        return response.text();
    }

    async function refreshAll() {
        await fetch(apiUrl, {
            method: 'GET',
            mode: 'cors',
            cache: 'no-cache',
            credentials: 'same-origin'
        }).then((response) => {
            if (response.status === 200) {
                return response.json();
            } else {
                throw `error with status ${response.status}`;
            }
        }).then(data => {
            layer.getSource().refresh();
            let tableData = "";
            for (feature in data) {
                let elapsed = (Date.now() / 1000) - parseInt(data[feature].timestamp);
                let elapsedStr = elapsed.toFixed(0) + "s";
                console.log(data[feature].altitude.toFixed(2));
                if (elapsed > 120) {
                    elapsed = elapsed / 60;
                    elapsedStr = elapsed.toFixed(0) + "m";
                }
                if (((Date.now() / 1000) - parseInt(data[feature].timestamp)) <= 600) {
                    if (data[feature].groupName === "LEAD") {
                        layer.getSource().addFeature(new ol.Feature({
                            geometry: new ol.geom.Point(ol.proj.fromLonLat([data[feature].longitude, data[feature].latitude])),
                            name: data[feature].alias,
                            category: 3
                        }));
                        tableData += `<tr><td><div class="cat cat-3"></td><td>${data[feature].alias}</td><td>${elapsedStr}</td><td>${data[feature].accuracy.toFixed(1)}</td><td>${data[feature].altitude.toFixed(0)}</td></tr>`;
                    } else if (data[feature].groupName === "MANAGER") {
                        layer.getSource().addFeature(new ol.Feature({
                            geometry: new ol.geom.Point(ol.proj.fromLonLat([data[feature].longitude, data[feature].latitude])),
                            name: data[feature].alias,
                            category: 2
                        }));
                        tableData += `<tr><td><div class="cat cat-2"></td><td>${data[feature].alias}</td><td>${elapsedStr}</td><td>${data[feature].accuracy.toFixed(1)}</td><td>${data[feature].altitude.toFixed(0)}</td></tr>`;
                    } else if (data[feature].groupName === "SUPPORT") {
                        layer.getSource().addFeature(new ol.Feature({
                            geometry: new ol.geom.Point(ol.proj.fromLonLat([data[feature].longitude, data[feature].latitude])),
                            name: data[feature].alias,
                            category: 4
                        }));
                        tableData += `<tr><td><div class="cat cat-4"></td><td>${data[feature].alias}</td><td>${elapsedStr}</td><td>${data[feature].accuracy.toFixed(1)}</td><td>${data[feature].altitude.toFixed(0)}</td></tr>`;
                    } else {
                        layer.getSource().addFeature(new ol.Feature({
                            geometry: new ol.geom.Point(ol.proj.fromLonLat([data[feature].longitude, data[feature].latitude])),
                            name: data[feature].groupName,
                            category: 1
                        }));
                        tableData += `<tr><td><div class="cat cat-1"></td><td>${data[feature].groupName}</td><td>${elapsedStr}</td><td>${data[feature].accuracy.toFixed(1)}</td><td>${data[feature].altitude.toFixed(0)}</td></tr>`;
                    }
                }
            }
            document.getElementById('data').innerHTML = tableData;
        }).catch((error) => {
            console.log(error);
        });
    }

    function onInit() {
        setTimeout(async () => refreshAll(), 0);
        setInterval(async () => {
            await refreshAll();
        }, 5000);
    }

</script>

</body>
</html>
