<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="hu">
<head th:replace="~{layout4 :: head(${context.siteName})}">
</head>
<body>
<div th:replace="~{layout4 :: mobile(null)}"></div>
<div th:replace="~{layout4 :: siteBegin(${userContext}, ${context})}"></div>

<div class="group">
    <div class="app">
        <div th:replace="~{layout4 :: menus(${userContext}, ${context})}">
        </div>

        <div class="content">
            <h1 class="narrow">HOZZÁFÉRÉS MEGTAGADVA</h1>

            <div class="card wide-false">
                <h4>Jogosultság szükséges</h4>
                <p>
                    Neked nincs jogod ezt az oldalt megnyitni!<br />
                    Ha szerinted ez egy hiba a rendszerben, akkor keresd meg az oldal adminisztrátorát.
                </p>

                <p class="light-color">Szükséges jogosultság: <b class="badge" th:text="${permission}"></b></p>

                <div class="button-group">
                    <button type="button" class="btn" onclick="window.history.back()">
                        <span class="material-symbols-outlined">undo</span>
                        <ins>VISSZA</ins>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>