<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="hu">
<head th:replace="layout :: head">
</head>
<body>
<div class="content">
    <div class="split">
        <div th:replace="layout :: mobile"></div>
        <div th:replace="layout :: menu(${user})">
        </div>
        <div class="payload">
            <div class="page">
                <h2>Admin panel</h2>
                <p class="highlight">
                    A rendezvény weboldalának beállításaihoz válassz a menüből.
                </p>

                <span class="warning">a nap üzenete:</span>
                <p th:text="${motd}"></p>

                <div th:if="${staffMessage != ''}"  class="card">
                    <h3 class="centered-text">SZOLGÁLATI KÖZLEMÉNY</h3>
                    <p th:text="${staffMessage}" class="centered-text"></p>
                </div>

                <a th:href="@{/control/open-site}" class="btn" target="_blank">Vissza az oldalra</a>
                <a href="https://github.com/kir-dev/cmsch/issues/new" class="btn btn-secondary" target="_blank">Visszajelzés küldése</a>
            </div>
        </div>
    </div>
</body>
</html>
