<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="hu">
<head th:replace="~{layout4 :: head(${context.siteName})}">
</head>
<body>
<div th:replace="~{layout4 :: mobile(null)}"></div>
<div th:replace="~{layout4 :: siteBegin(${userContext}, ${context})}"></div>

<div class="group">
    <div class="app">
        <div th:replace="~{layout4 :: menus(${userContext}, ${context})}">
        </div>

        <div class="content">
            <h1 th:class="${wide ? '' : 'narrow'}"><ins th:text="${title}">Dashboard</ins>
                <span class="material-symbols-outlined color-yellow star-button"
                      th:class="|material-symbols-outlined color-yellow star-button ${userContext.favoriteMenus.contains(title) ? 'favorite' : ''}|"
                      id="star-page"
                      th:data-star="${title}"
                      onclick="toggleStarred(this.getAttribute('data-star')); return false">star</span>
            </h1>
            <div th:class="|details ${wide ? '' : 'narrow'}|" th:text="${description}">Description</div>

            <span class="info-message wide-false" th:if="${card == -1 && message != ''}" th:text="${message}">Üzenet</span>

            <object th:each="component,iter : ${components}" th:remove="tag">

                <object th:if="${component.type == 'DashboardCard'}" th:remove="tag">
                    <div th:class="|card ${component.wide ? '' : 'wide-false'}|" th:id="${component.id}">
                        <h4 th:text="${component.title}">Title</h4>
                        <span class="info-message" th:if="${card == component.id && message != ''}" th:text="${message}">Üzenet</span>
                        <span th:text="${component.description}" class="desc">A little description fits there.</span>

                        <p th:each="p : ${content}" th:text="${p}"></p>
                    </div>
                </object>

                <object th:if="${component.type == 'DashboardButtonGroup'}" th:remove="tag">
                    <div th:class="|card ${component.wide ? '' : 'wide-false'}|" th:id="${component.id}">
                        <h4 th:text="${component.title}">Title</h4>
                        <span class="info-message" th:if="${card == component.id && message != ''}" th:text="${message}">Üzenet</span>

                        <p th:each="p : ${content}" th:text="${p}"></p>

                        <div class="button-group">
                            <object th:each="button : ${buttons}" th:remove="tag">
                                <a href="#" th:href="|@{/admin/control}/${view}/${button.target}|" class="btn"
                                   th:class="|btn ${button.primary ? 'btn-primary' : 'btn-secondary'}|"
                                   th:target="${button.newPage ? '_blank' : ''}"
                                ><span class="material-symbols-outlined regular" th:text="${button.icon}">code</span> <ins th:text="${button.name}">Button name</ins></a>
                            </object>
                        </div>
                    </div>
                </object>

                <object th:if="${component.type == 'DashboardTableCard'}" th:remove="tag">
                    <div th:class="|card ${component.wide ? '' : 'wide-false'}|" th:id="${component.id}">
                        <h4 th:text="${component.title}">Title</h4>
                        <span class="info-message" th:if="${card == component.id && message != ''}" th:text="${message}">Üzenet</span>
                        <span th:text="${component.description}" class="desc">A little description fits there.</span>

                        <table class="dashboard-table" cellspacing="0" style="margin-top: 20px">
                            <tr>
                                <th th:each="th : ${component.header}" th:text="${th}"></th>
                            </tr>
                            <tr th:each="tr : ${component.content}">
                                <td th:each="col : ${tr}" th:text="${col}"></td>
                            </tr>
                        </table>

                        <div class="button-group" th:if="${component.exportable}">
                            <a href="#" th:href="|@{/admin/control}/${view}/export/${component.id}|" class="btn btn-primary" target="_blank"
                            ><span class="material-symbols-outlined regular">download</span> <ins>LETÖLTÉS (.csv)</ins></a>
                        </div>
                    </div>
                </object>

                <object th:if="${component.type == 'DashboardStatusTableCard'}" th:remove="tag">
                    <div th:class="|card ${component.wide ? '' : 'wide-false'}|" th:id="${component.id}">
                        <h4 th:text="${component.title}">Title</h4>
                        <span class="info-message" th:if="${card == component.id && message != ''}" th:text="${message}">Üzenet</span>
                        <span th:text="${component.description}" class="desc">A little description fits there.</span>

                        <table class="dashboard-table" cellspacing="0" style="margin-top: 20px">
                            <tr>
                                <th th:each="th : ${component.header}" th:text="${th}"></th>
                                <th> </th>
                            </tr>
                            <tr th:each="tr : ${component.content}">
                                <td th:each="col : ${tr.row}" th:text="${col}"></td>
                                <td><span class='material-symbols-outlined' th:style="|color: ${tr.status.color}|" th:text="${tr.status.icon}">close</span></td>
                            </tr>
                        </table>

                        <div class="button-group" th:if="${component.exportable}">
                            <a href="#" th:href="|@{/admin/control}/${view}/export/${component.id}|" class="btn btn-primary" target="_blank"
                            ><span class="material-symbols-outlined regular">download</span> <ins>LETÖLTÉS (.csv)</ins></a>
                        </div>
                    </div>
                </object>


                <object th:if="${component.type == 'DashboardPermissionCard'}" th:remove="tag">
                    <div th:class="|card ${component.wide ? '' : 'wide-false'}|" th:if="${user.isAdmin()}" th:id="${component.id}">
                        <h4 th:text="${component.title}">Jogosultságok</h4>
                        <span class="info-message" th:if="${card == component.id && message != ''}" th:text="${message}">Üzenet</span>

                        <div class="options">
                            <div class="option">
                                <div><span class="material-symbols-outlined">local_police</span></div>
                                <div>
                                    <h5 th:text="${component.permission}">PERMISSION_NAME</h5>
                                    <span th:text="${component.description}">Ez a jog szükséges ennek az oldalnak az módosításához és olvasásához.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </object>

                <object th:if="${component.type == 'DashboardFormCard'}" th:remove="tag">
                    <div th:class="|card ${component.wide ? '' : 'wide-false'}|" th:id="${component.id}">
                        <h4 th:text="${component.title}">Title</h4>
                        <span class="info-message" th:if="${card == component.id && message != ''}" th:text="${message}">Üzenet</span>
                        <span th:text="${component.description}" class="desc">A little description fits there.</span>

                        <form th:action="|@{/admin/control}/${view}/${component.action}|" th:method="${component.method}">

                            <object th:remove="tag" th:each="input,iter : ${component.content}">

                                <div th:if="${input.type.name() == 'TEXT'}" class="field-group">
                                    <label th:for="|input${iter.index}|"
                                           th:text="${input.label}">
                                    </label>
                                    <div style="clear: both"></div>
                                    <input type="text"
                                           th:name="${input.fieldName}"
                                           th:id="|input${iter.index}|"
                                           th:value="${input.defaultValue}"
                                           autocomplete="off"
                                           th:required="${input.required}"
                                    />
                                    <span class="note" th:text="${input.note}" th:if="${input.note != ''}"></span>
                                </div>

                                <div th:if="${input.type.name() == 'NUMBER'}" class="field-group">
                                    <label th:for="|input${iter.index}|"
                                           th:text="${input.label}">
                                    </label>
                                    <div style="clear: both"></div>
                                    <input type="text"
                                           th:name="${input.fieldName}"
                                           th:id="|input${iter.index}|"
                                           th:value="${input.defaultValue}"
                                           autocomplete="off"
                                           inputmode="numeric"
                                           th:required="${input.required}"
                                    />
                                    <span class="note" th:text="${input.note}" th:if="${input.note != ''}"></span>
                                </div>

                                <div th:if="${input.type.name() == 'SELECT'}" class="field-group" th:id="|_${iter.index}|">
                                    <label th:for="|input${iter.index}|"
                                           th:text="${input.label}">
                                    </label>
                                    <div style="clear: both"></div>
                                    <select th:id="|input${iter.index}|"
                                            th:name="${input.fieldName}">
                                        <option th:each="opt : ${input.values.split(', *')}"
                                                th:value="${opt}"
                                                th:text="${opt}"
                                                th:selected="${#strings.equals(input.defaultValue, opt)}"></option>
                                    </select>
                                    <span class="note" th:text="${input.note}" th:if="${input.note != ''}"></span>
                                </div>

                                <div th:if="${input.type.name() == 'SEARCHABLE_SELECT'}" class="field-group" th:id="|_${iter.index}|">
                                    <label th:for="|input${iter.index}|"
                                           th:text="${input.label}">
                                    </label>
                                    <div style="clear: both"></div>
                                    <select th:id="|input${iter.index}|"
                                            th:name="${input.fieldName}">
                                        <option th:each="opt : ${input.values.split(', *')}"
                                                th:value="${opt}"
                                                th:text="${opt}"
                                                th:selected="${#strings.equals(input.defaultValue, opt)}"></option>
                                    </select>

                                    <input type="text"
                                           th:id="|search${iter.index}|"
                                           th:name="|search${iter.index}|"
                                           placeholder="Kereső"
                                    />
                                    <script th:inline="javascript">
                                        (function() {
                                            const id = /*[[${iter.index}]]*/ '';
                                            const select = document.querySelectorAll(`select#input${id}`);
                                            const options = Array.from(select[0].options);
                                            const input = document.querySelector(`input#search${id}`);
                                            function findMatches (search, options) {
                                                return options.filter(option => {
                                                    const regex = new RegExp(search, 'gi');
                                                    return option.text.match(regex);
                                                });
                                            }
                                            function filterOptions () {
                                                options.forEach(option => {
                                                    option.remove();
                                                    option.selected = false;
                                                });
                                                const matchArray = findMatches(this.value, options);
                                                select[0].append(...matchArray);
                                            }
                                            input.addEventListener('change', filterOptions);
                                            input.addEventListener('keyup', filterOptions);
                                        })();
                                    </script>

                                    <span class="note" th:text="${input.note}" th:if="${input.note != ''}"></span>
                                </div>

                                <div th:if="${input.type.name() == 'LONG_TEXT'}" class="field-group">
                                    <label th:for="|input${iter.index}|"
                                           th:text="${input.label}">
                                    </label>
                                    <div style="clear: both"></div>
                                    <textarea
                                            th:name="${input.fieldName}"
                                            th:id="|input${iter.index}|"
                                            th:text="${input.defaultValue}"
                                            autocomplete="off"
                                            >
                                    </textarea>
                                    <span class="note" th:text="${input.note}" th:if="${input.note != ''}"></span>
                                </div>

                                <div th:if="${input.type.name() == 'CHECKBOX'}" class="field-group">
                                    <label th:for="|input${iter.index}|"
                                           th:text="${input.label}">
                                    </label>
                                    <div style="clear: both"></div>
                                    <label class="switch">
                                        <input type="checkbox"
                                               th:checked="${input.defaultValue == 'true'}"
                                               th:name="${input.fieldName}"
                                               th:id="|input${iter.index}|"
                                        />
                                        <span class="slider"></span>
                                    </label>
                                    <span class="note" th:text="${input.note}" th:if="${input.note != ''}"></span>
                                    <div style="clear: both"></div>
                                </div>

                                <div th:if="${input.type.name() == 'INFO_BOX'}" class="field-group">
                                    <label th:for="|input${iter.index}|"
                                           th:text="${input.label}">
                                    </label>
                                    <div style="clear: both"></div>
                                    <p th:id="|input${iter.index}|"
                                       th:text="${input.values}"
                                       style="color: #FFFFFF"
                                    />
                                    <span class="note" th:text="${input.note}" th:if="${input.note != ''}"></span>
                                </div>

                                <div th:if="${input.type.name() == 'HTML_INFO_BOX'}" class="field-group">
                                    <label th:for="|input${iter.index}|"
                                           th:text="${input.label}">
                                    </label>
                                    <div style="clear: both"></div>
                                    <p th:id="|input${iter.index}|"
                                       th:utext="${input.values}"
                                       style="color: #FFFFFF"
                                    />
                                    <span class="note" th:text="${input.note}" th:if="${input.note != ''}"></span>
                                </div>

                                <div th:if="${input.type.name() == 'HISTORY_VIEW'}" class="field-group">
                                    <label th:for="|input${iter.index}|"
                                           th:text="${input.label}">
                                    </label>
                                    <div style="clear: both"></div>

                                    <div th:id="|input${iter.index}_cards|" style="margin-top: 20px">
                                        <div th:each="historyPoint : ${T(hu.bme.sch.cmsch.admin.dashboard.SubmissionHistory).convertStringToHistory(input.values)}" th:class="|sub-card ${historyPoint.adminResponse ? 'admin-response' : ''}|">
                                            <div class="field-group">
                                                <ins th:text="${historyPoint.submitterName}"></ins> <ins th:text="${historyPoint.adminResponse ? '[RENDEZŐ]' : '[RÉSZTVEVŐ]'}"></ins><br>
                                                <b>Státusz:</b> <ins th:text="${historyPoint.status}"></ins><br>
                                                <b th:text="${historyPoint.adminResponse ? 'Válasz' : 'Beadás'}"></b>: <ins th:text="${historyPoint.content}"></ins><br>
                                                <a th:href="|/cdn/${historyPoint.contentUrl}|" target="_blank" th:if="${historyPoint.type != 'TEXT'}" th:text="${historyPoint.contentUrl}"></a>
                                            </div>
                                        </div>
                                    </div>

                                    <span class="note" th:text="${input.note}" th:if="${input.note != ''}"></span>
                                </div>

                                <div th:if="${input.type.name() == 'LINK_VIEW'}" class="field-group">
                                    <label th:text="${input.label}">
                                    </label>
                                    <div style="clear: both"></div>
                                    <div class="button-group" style="margin: 0">
                                        <a th:href="${input.values}" class="btn btn-primary" th:target="${input.defaultValue == '_blank' ? '_blank' : ''}">
                                            <span class="material-symbols-outlined">link</span>
                                            <ins th:text="${input.label}">OPEN</ins>
                                        </a>
                                    </div>

                                    <span class="note" th:text="${input.note}" th:if="${input.note != ''}"></span>
                                </div>

                                <div th:if="${input.type.name() == 'IMAGE_VIEW'}" class="field-group">
                                    <label th:text="${input.label}">
                                    </label>
                                    <div style="clear: both"></div>
                                    <a th:href="${input.values}" target="_blank">
                                        <img th:src="${input.values}" style="max-width: 100%; max-height: 500px" />
                                    </a>

                                    <span class="note" th:text="${input.note}" th:if="${input.note != ''}"></span>
                                </div>

                                <div th:if="${input.type.name() == 'SECTION_START'}" class="field-group">
                                    <h5 style="text-align: center" th:text="${input.label}"></h5>
                                    <span class="note" th:text="${input.note}" th:if="${input.note != ''}"></span>
                                </div>

                            </object>

                            <div class="button-group" th:if="${component.buttonCaption != ''}">
                                <button type="submit" class="btn btn-primary">
                                    <span class="material-symbols-outlined" th:text="${component.buttonIcon}">check_circle</span>
                                    <ins th:text="${component.buttonCaption}">SUBMIT</ins>
                                </button>
                            </div>

                        </form>

                    </div>
                </object>
            </object>


        </div>
    </div>
</div>

</body>
</html>
