<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="hu">
<head th:replace="~{layout4 :: head(${context.siteName})}">
</head>
<body>

<object th:each="type : ${@thymeleafUtility.dashboardCardTypes(components)}" th:remove="tag">
    <script th:replace="~{('component/dashboard/' + ${type}) :: dashboardScript(${components}) }" th:remove="tag"></script>
</object>

<div th:replace="~{layout4 :: mobile(null)}"></div>
<div th:replace="~{layout4 :: siteBegin(${userContext}, ${context})}"></div>

<div class="group">
    <div class="app">
        <div th:replace="~{layout4 :: menus(${userContext}, ${context})}">
        </div>

        <div class="content">
            <h1 th:class="${wide ? '' : 'narrow'}"><ins th:text="${title}">Dashboard</ins>
                <span class="material-symbols-outlined color-yellow star-button"
                      th:class="|material-symbols-outlined color-yellow star-button ${#lists.contains(userContext.favoriteMenus, title) ? 'favorite' : ''}|"
                      id="star-page"
                      th:data-star="${title}"
                      onclick="toggleStarred(this.getAttribute('data-star')); return false">star</span>
            </h1>
            <div th:class="|details ${wide ? '' : 'narrow'}|" th:text="${description}">Description</div>

            <span class="info-message wide-false" th:if="${card == -1 && message != ''}" th:text="${message}">Üzenet</span>

            <object th:each="component : ${components}" th:remove="tag">

                <object th:replace="~{('component/dashboard/' + ${component.type}) :: dashboardCard (${component}, ${view}, ${card}, ${message})}" th:remove="tag"></object>

            </object>

        </div>
    </div>
</div>

</body>
</html>
