<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="hu">
<head th:replace="~{layout4 :: head(${context.siteName})}">
</head>
<body>
<div th:replace="~{layout4 :: mobile(null)}"></div>
<div th:replace="~{layout4 :: siteBegin(${userContext}, ${context})}"></div>

<div class="group">
    <div class="app">
        <div th:replace="~{layout4 :: menus(${userContext}, ${context})}">
        </div>

        <div class="content">
            <h1 th:class="${wide ? '' : 'narrow'}"><ins th:text="${title}">Dashboard</ins>
                <span class="material-symbols-outlined color-yellow star-button"
                      th:class="|material-symbols-outlined color-yellow star-button ${userContext.favoriteMenus.contains(title) ? 'favorite' : ''}|"
                      id="star-page"
                      th:data-star="${title}"
                      onclick="toggleStarred(this.getAttribute('data-star')); return false">star</span>
            </h1>
            <div th:class="|details ${wide ? '' : 'narrow'}|" th:text="${description}">Description</div>

            <object th:each="component,iter : ${components}" th:remove="tag">

                <object th:if="${component.type == 'DashboardTableCard'}" th:remove="tag">
                    <div th:class="|card ${component.wide ? '' : 'wide-false'}|">
                        <h4 th:text="${component.title}">Title</h4>
                        <span th:text="${component.description}" class="desc">A little description fits there.</span>

                        <table class="dashboard-table" cellspacing="0">
                            <tr>
                                <th th:each="th : ${component.header}" th:text="${th}"></th>
                            </tr>
                            <tr th:each="tr : ${component.content}">
                                <td th:each="col : ${tr}" th:text="${col}"></td>
                            </tr>
                        </table>
                    </div>
                </object>

                <object th:if="${component.type == 'DashboardPermissionCard'}" th:remove="tag">
                    <div th:class="|card ${component.wide ? '' : 'wide-false'}|" th:if="${user.isAdmin()}">
                        <h4 th:text="${component.title}">Jogosultságok</h4>

                        <div class="options">
                            <div class="option">
                                <div><span class="material-symbols-outlined">local_police</span></div>
                                <div>
                                    <h5 th:text="${component.permission}">PERMISSION_NAME</h5>
                                    <span th:text="${component.description}">Ez a jog szükséges ennek az oldalnak az módosításához és olvasásához.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </object>
            </object>


        </div>
    </div>
</div>

</body>
</html>
