<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="hu">
<head th:replace="~{layout4 :: head(${context.siteName})}">
</head>
<body>
<script th:inline="javascript" th:if="${staffPermissionList != null && customPermissionList != null && adminPermissionList != null}">
    function changePermissionText(inputId) {
        const permissions = document.getElementById(`input${inputId}`).value.split(',');
        /*<![CDATA[*/
        const staffPermissionList = [[${staffPermissionList}]];
        const customPermissionList = [[${customPermissionList}]];
        const adminPermissionList = [[${adminPermissionList}]];
        /*]]>*/
        staffPermissionList.forEach(perm => document.getElementById(`input${inputId}_${perm}`).checked = permissions.includes(perm));
        customPermissionList.forEach(perm => document.getElementById(`input${inputId}_${perm}`).checked = permissions.includes(perm));
        adminPermissionList.forEach(perm => document.getElementById(`input${inputId}_${perm}`).checked = permissions.includes(perm));
    }

    function changePermissionField(inputId, permission) {
        let permissions = document.getElementById(`input${inputId}`).value.split(',');
        permissions = permissions.filter(item => item !== permission && item !== '')
        if (document.getElementById(`input${inputId}_${permission}`).checked)
            permissions.push(permission)
        document.getElementById(`input${inputId}`).value = permissions.join(",")
    }
</script>

<object th:each="type : ${T(hu.bme.sch.cmsch.admin.DetailsHelper).inputTypes(inputs)}" th:remove="tag">
    <script th:replace="~{('component/details/' + ${type}) :: detailsSegmentScript }" th:remove="tag"></script>
</object>

<div th:replace="~{layout4 :: mobile(null)}"></div>
<div th:replace="~{layout4 :: siteBegin(${userContext}, ${context})}"></div>

<div class="group">
    <div class="app">
        <div th:replace="~{layout4 :: menus(${userContext}, ${context})}">
        </div>

        <div class="content">
            <h1 class="narrow" th:text="|${title} szerkesztése|" th:if="${!entityMode && editMode && !readOnly}">View edit</h1>
            <h1 class="narrow" th:text="|${title} megtekintése|" th:if="${!entityMode && editMode && readOnly}">View view</h1>
            <h1 class="narrow" th:text="|${title} létrehozása|" th:if="${!entityMode && !editMode}">View create</h1>
            <h1 class="narrow" th:text="|${title} típus|" th:if="${entityMode}">View type</h1>

            <div class="card wide-false" th:if="${taskTitle != null || taskDescription != null}">
                <object th:if="${taskTitle != null}" th:remove="tag">
                    <label class="card-label">Feladat</label>
                    <p th:text="${taskTitle}" class="highlight"></p>
                </object>

                <object th:if="${taskDescription != null}" th:remove="tag">
                    <p th:utext="${taskDescription}"></p>
                </object>
            </div>

            <div class="card wide-false">

                <form th:action="|@{/admin/control}/${view}/${editMode ? ((gradeMode == true ? 'grade/' : 'edit/') + id) : 'create'}|"
                      method="post"
                      enctype="multipart/form-data">

                    <object th:each="input,iter : ${inputs}" th:remove="tag">

                        <object th:if="${user.role.value >= input.second.minimumRole.value}" th:remove="tag">

                            <object th:replace="~{('component/details/' + ${input.second.type}) :: detailsSegment (${iter.index}, ${data}, ${input.first}, ${input.second}, ${editMode}, ${entityMode}, ${duplicateMode}, ${readOnly})}" th:remove="tag"></object>

                        </object>

                    </object>

                    <div class="field-group" th:if="${comment != null}">
                        <label>Csatolt információ</label>
                        <p style="clear: both" th:text="${comment}"></p>
                    </div>

                    <div class="placeholder"></div>

                    <div class="button-group">
                        <object th:if="${not readOnly && not entityMode}" th:remove="tag">
                            <button type="submit" class="btn btn-primary" id="save-button">
                                <span class="material-symbols-outlined">save</span>
                                <ins>MENTÉS</ins>
                            </button>
                            <button class="floating-save btn btn-primary"><span class="material-symbols-outlined">save</span></button>
                        </object>
                        <a href="#" class="btn" th:href="|@{/admin/control}/${view}|">
                            <span class="material-symbols-outlined">undo</span>
                            <ins>VISSZA</ins>
                        </a>

                        <object th:if="${gradeMode == true && !entityMode}" th:remove="tag">
                            <br />
                            <label>Gyors értékelés</label>
                            <input type="submit" value="max" th:value="|MAX PONT (${maxScore})|" class="btn btn-primary"
                                   th:onclick="|document.getElementsByName('approved')[0].checked = true; document.getElementsByName('rejected')[0].checked = false; document.getElementsByName('score')[0].value = '${maxScore}'; |" />
                            <input type="submit" value="half" th:value="|FELE PONT (${maxScore / 2})|" class="btn btn-primary"
                                   th:onclick="|document.getElementsByName('approved')[0].checked = true; document.getElementsByName('rejected')[0].checked = false; document.getElementsByName('score')[0].value = '${maxScore / 2}'; |" />
                            <input type="submit" value="ELUTASÍT" class="btn btn-danger"
                                   th:onclick="|document.getElementsByName('approved')[0].checked = false; document.getElementsByName('rejected')[0].checked = true; document.getElementsByName('score')[0].value = '0'; |"/>
                            <span class="note">Ezek a gombok a pontot és az elfogadva státuszt állítják, a kattintás után lezár, ezért a szöves értékelést írd meg előtte!</span>
                        </object>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    let hashValue = '';
    if (window.location.hash !== '') {
        hashValue = window.location.hash.substring(1);
        const element = document.getElementById(hashValue);
        element.classList.add('selected');
    }
    window.addEventListener('hashchange', function() {
        if (hashValue !== '') {
            const oldElement = document.getElementById(hashValue);
            oldElement.classList.remove('selected');
        }

        if (window.location.hash !== '') {
            hashValue = window.location.hash.substring(1);
            const element = document.getElementById(hashValue);
            element.classList.add('selected');
        } else {
            hashValue = '';
        }
    });
</script>
<script>
    flatpickr(".datetime-picker", {
        enableTime: true,
        altInput: true,
        altFormat: "Y-m-d H:i",
        dateFormat: "U"
    });
</script>

</body>
</html>
