<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="hu">
<head th:replace="~{layout4 :: head(${context?.siteName ?: 'CMSch'})}">
</head>
<body>

<div th:if="${isStaff == true}" th:replace="~{layout4 :: mobile(null)}"></div>
<div th:if="${isStaff == true}" th:replace="~{layout4 :: siteBegin(${userContext}, ${context})}"></div>

<div class="group">
  <div class="app">
    <div th:if="${isStaff == true}" th:replace="~{layout4 :: menus(${userContext}, ${context})}"></div>
    <div class="content">

      <h1>Hiba történt</h1>
      <div class="details">HTTP <span th:text="${status}"></span></div>

      <div class="card" th:if="${isStaff == true && !#strings.isEmpty(exceptionMessage)}">
        <h3 style="padding-bottom: 1em">Részletek</h3>
        <form onsubmit="return false">
                    <textarea id="content" th:text="${exceptionMessage}" readonly
                              style="height: 600px; width: 100%; font-family: monospace"></textarea>
        </form>
      </div>
    </div>
  </div>
</div>

</body>
</html>
