<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="hu">
<head th:replace="layout :: head">
</head>
<body>
<div class="content">
    <div class="split">
        <div th:replace="layout :: mobile"></div>
        <div th:replace="layout :: menu(${user})">
        </div>
        <div class="payload">
            <div class="page">
                <h2>Export minden</h2>

                <p>Ezeket a beállításokat a properties fájlba kell beilleszteni első idítás előtt vagy üres adatbázissal.</p>

                <form onsubmit="return false">
                    <textarea th:text="${settings}" readonly style="height: 600px">
                    </textarea>
                </form>

            </div>
        </div>
    </div>
</body>
</html>
