<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="hu">
<head th:fragment="head">
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <title>CMSch Admin</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="theme-color" content="#444444">
    <meta name="msapplication-navbutton-color" content="#444444"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="#444444"/>
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="icon" type="image/x-icon" th:href="@{/cdn/manifest/favicon.ico}" />
    <link rel="icon" type="image/png" sizes="192x192" th:href="@{/cdn/manifest/icon-192x192.png}" />
    <link rel="icon" type="image/png" sizes="256x256" th:href="@{/cdn/manifest/icon-256x256.png}" />
    <link rel="icon" type="image/png" sizes="384x384" th:href="@{/cdn/manifest/icon-384x384.png}" />
    <link rel="icon" type="image/png" sizes="512x512" th:href="@{/cdn/manifest/icon-512x512.png}" />
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="../static/js/admin-script.js" th:src="@{/js/admin-script.js}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
</head>
<body>
    <div class="content">
        <div class="split">
            <div class="header" th:fragment="mobile">
                <span>CM<b>SCH</b> <insert th:remove="tag" th:text="${adminPanelName}">ADMIN</insert></span>
                <span class="material-icons fix-icons menu-icon" onclick="document.getElementById('menu').style.display = 'block'">menu</span>
            </div>
            <div class="menu" th:fragment="menu(user)" id="menu" th:style="${isLive != null && isLive ? '' : 'border-right: 2px solid #f1b44c;'}">
                <h1>CM<b>SCH</b> <insert th:remove="tag" th:text="${adminPanelName}">ADMIN</insert></h1>
                <div class="exit" onclick="document.getElementById('menu').style.display = 'none'">X</div>
                <div class="separate"></div>

                <object th:remove="tag" th:each="category,iter : ${menu}" th:if="${menu} != null">
                    <h2 th:text="${category.key.value.title}" class="collapsable" th:onclick="|toggleCollapse(${iter.index})|">Általános</h2>
                    <div class="spoiler" th:id="|menu${iter.index}|">
                        <a href="#" th:each="entry : ${category.value}" th:href="|${entry.target}|"><span class="material-icons fix-icons" th:text="${entry.icon}">home</span> <ins th:remove="tag" th:text="${entry.title}">Kezdő menü</ins></a>
                    </div>
                </object>
                <script th:inline="javascript">
                    const count = /*[[${menu.size()}]]*/ 0;
                    for (let i = 0; i < count; i++) {
                        if (localStorage.getItem(`menu${i}`) === 'false')
                            toggleCollapse(i);
                    }
                </script>

                <div class="separate"></div>

                <a href="#" th:href="@{/control/logout}"><span class="material-icons fix-icons">logout</span> Kijelentkezés</a>

                <div class="separate"></div>
            </div>
            <div class="payload">
                <div class="page">
                    <h2>Lorem ipsum</h2>
                    <p class="highlight">
                        Curabitur faucibus neque eget diam elementum molestie. Duis dui magna, venenatis eget sapien vel, dignissim iaculis sapien. Fusce ut risus iaculis, rhoncus mi eu, laoreet turpis. Donec rhoncus elit eu enim convallis mattis.
                    </p>
                    <p>
                        Vestibulum fringilla erat <a href="/site">malesuada metus</a> laoreet, non lacinia ante posuere. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed commodo velit porttitor metus gravida, non egestas purus laoreet. Nulla nec eros sit amet nunc imperdiet condimentum. Quisque at dignissim odio, sed tincidunt libero. Curabitur semper eu odio a efficitur.
                    </p>
                    <p>
                        Vestibulum a massa lorem. Maecenas finibus efficitur magna at egestas. Integer ac mi egestas neque dapibus sollicitudin. Praesent non placerat odio. Donec ac ante ut justo malesuada mollis at sit amet felis. Fusce ultricies et sem faucibus mattis. Morbi vel accumsan dolor, sed dapibus lectus. Morbi tristique leo eu augue mollis dapibus. Pellentesque commodo fringilla auctor. Aliquam vel felis nec turpis placerat sollicitudin.
                    </p>

                    <table>
                        <tr>
                            <th>Név</th>
                            <th>Neptun</th>
                            <th>Column3</th>
                            <th>Column4</th>
                            <th>Column5</th>
                            <th>Column6</th>
                            <th>Column7</th>
                        </tr>
                        <tr>
                            <td>Név</td>
                            <td>Neptun</td>
                            <td>Column3</td>
                            <td>Column4</td>
                            <td>Column5</td>
                            <td>Column6</td>
                            <td><a href="#"><span class="material-icons">edit</span></a></td>
                        </tr>
                        <tr>
                            <td>Név</td>
                            <td>Neptun</td>
                            <td>Column3</td>
                            <td>Column4</td>
                            <td>Column5</td>
                            <td>Column6</td>
                            <td>Column7</td>
                        </tr>
                        <tr>
                            <td>Név</td>
                            <td>Neptun</td>
                            <td>Column3</td>
                            <td>Column4</td>
                            <td>Column5</td>
                            <td>Column6</td>
                            <td>Column7</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        A CMSch projektet a kir-dev készítette<br />
        <a href="https://kir-dev.sch.bme.hu/">kir-dev</a> :: <a href="https://pek.sch.bme.hu/profiles/Gerviba">Schámi</a>, TODO többiek
        2022
    </div>
</body>
</html>



