<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="hu">
<head th:replace="~{layout4 :: head(${context.siteName})}">
</head>
<body>
<div th:replace="~{layout4 :: mobile(null)}"></div>
<div th:replace="~{layout4 :: siteBegin(${userContext}, ${context})}"></div>

<script>
    function changeSubmenu(id) {
        const td = document.querySelector(`#row_${id} > td:first-of-type`);
        td.style.paddingLeft = document.getElementById(`submenu_${id}`).checked ? '60px' : '20px';
    }

    function changeVisibility(id) {
        const tr = document.getElementById(`row_${id}`);
        tr.style.opacity = document.getElementById(`visible_${id}`).checked ? '1.0' : '0.6';
    }

    function flipWithNext(id) {
        const currentRow = document.getElementById(`row_${id}`);
        const nextRow = currentRow.nextElementSibling;

        if (nextRow) {
            const temp = document.createElement('tr');
            currentRow.parentNode.insertBefore(temp, currentRow);
            nextRow.parentNode.insertBefore(currentRow, nextRow);
            temp.parentNode.insertBefore(nextRow, temp);
            temp.remove();

            const tempOrder = document.querySelector(`#${nextRow.id} input[type="number"]`).value;
            document.querySelector(`#${nextRow.id} input[type="number"]`).value = document.getElementById(`order_${id}`).value;
            document.getElementById(`order_${id}`).value = tempOrder;
        }
    }

    function flipWithPrevious(id) {
        const currentRow = document.getElementById(`row_${id}`);
        const previousRow = currentRow.previousElementSibling;

        if (previousRow && previousRow.id !== 'header') {
            const temp = document.createElement('tr');
            currentRow.parentNode.insertBefore(temp, currentRow);
            previousRow.parentNode.insertBefore(currentRow, previousRow);
            temp.parentNode.insertBefore(previousRow, temp);
            temp.remove();

            const tempOrder = document.querySelector(`#${previousRow.id} input[type="number"]`).value;
            document.querySelector(`#${previousRow.id} input[type="number"]`).value = document.getElementById(`order_${id}`).value;
            document.getElementById(`order_${id}`).value = tempOrder;
        }
    }

    function toggleOrderNumbers() {
        document.querySelectorAll(`.order-number`).forEach(it => it.classList.toggle('hidden'));
    }
</script>

<div class="group">
    <div class="app">
        <div th:replace="~{layout4 :: menus(${userContext}, ${context})}">
        </div>

        <div class="content">
            <h1>Menük szerkesztése</h1>

            <div class="card">
                <h4 th:text="|Kiválasztott jogosultsági szint: ${role}|">Kiválasztott jogosultsági szint: ...</h4>

                <form th:action="|@{/admin/control/menu/edit}/${id}|" method="post">

                    <div class="table-container menu-table">
                        <table cellspacing="0">
                            <tr id="header">
                                <th>Menü</th>
                                <th></th>
                                <th>Sorrend</th>
                                <th>Almenü</th>
                                <th>Látható</th>
                            </tr>
                            <tr th:each="row,iter : ${rows}" th:id="|row_${iter.index}|" th:style="|opacity: ${row.visible ? '1.0' : '0.6'}|">
                                <td th:text="${row.name}" th:style="|padding-left: ${row.subMenu ? '60px' : '20px'}|">Teszt menü</td>
                                <td th:text="${row.url}">/test</td>
                                <td>
                                    <input type="number" th:value="${iter.index}"
                                           th:id="|order_${iter.index}|"
                                           th:name="|order_${iter.index}|"
                                           style="text-align: center; max-width: 60px"
                                           class="hidden order-number"
                                    />
                                    <button type="button" class="btn btn-icon" th:data-id="${iter.index}" onclick="flipWithPrevious(this.getAttribute('data-id'))"><span class="material-symbols-outlined">arrow_drop_up</span></button>
                                    <button type="button" class="btn btn-icon" th:data-id="${iter.index}" onclick="flipWithNext(this.getAttribute('data-id'))"><span class="material-symbols-outlined">arrow_drop_down</span></button>
                                </td>
                                <td>
                                    <input type="hidden" th:name="|id_${iter.index}|" th:value="${row.id}">
                                    <label class="switch">
                                        <input type="checkbox"
                                               th:checked="${row.subMenu}"
                                               th:id="|submenu_${iter.index}|"
                                               th:name="|submenu_${iter.index}|"
                                               th:data-id="${iter.index}"
                                               onclick="changeSubmenu(this.getAttribute('data-id'))"
                                        />
                                        <span class="slider"></span>
                                    </label>
                                </td>
                                <td>
                                    <label class="switch">
                                        <input type="checkbox"
                                               th:checked="${row.visible}"
                                               th:id="|visible_${iter.index}|"
                                               th:name="|visible_${iter.index}|"
                                               th:data-id="${iter.index}"
                                               onclick="changeVisibility(this.getAttribute('data-id'))"
                                        />
                                        <span class="slider"></span>
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="button-group">
                        <button type="submit" class="btn btn-primary">
                            <span class="material-symbols-outlined">save</span>
                            <ins>MENTÉS</ins>
                        </button>
                        <a href="#" class="btn btn-secondary" th:href="|@{/admin/control}/menu|">
                            <span class="material-symbols-outlined">undo</span>
                            <ins>VISSZA</ins>
                        </a>
                        <button type="button" class="btn" onclick="toggleOrderNumbers()">
                            <span class="material-symbols-outlined">format_list_numbered_rtl</span>
                            <ins>SORSZÁM MUTATÁSA</ins>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
