<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="hu">
<head th:replace="~{layout4 :: head(${context.siteName})}">
</head>
<body>
<div th:replace="~{layout4 :: mobile(null)}"></div>
<div th:replace="~{layout4 :: siteBegin(${userContext}, ${context})}"></div>

<div class="group">
    <div class="app">
        <div th:replace="~{layout4 :: menus(${userContext}, ${context})}">
        </div>

        <div class="content">
            <h1 th:text="${title}">Rendezői Oldal <span class="material-symbols-outlined color-yellow">star</span></h1>
            <div class="details" th:text="${description}">Üdv a rendezvény rendezői felületén!</div>

            <div class="card">
                <h4>Adatok</h4>

                <div id="cmsch-table"></div>
            </div>

<!--                <div class="centered button-group">-->
<!--                    <a href="#" class="btn btn-secondary" th:if="${controlMode == 'edit,delete'}" th:text="|Új ${titleSingular}|" th:href="|@{/admin/control}/${view}/create|"></a>-->
<!--                </div>-->

<!--                <div class="table-container">-->
<!--                    <table>-->
<!--                        <tr>-->
<!--                            <th th:each="col,iter : ${columns}" th:text="${col}"-->
<!--                                th:class="${fields[iter.index].second.centered ? 'centered' : ''}">-->
<!--                                Column-->
<!--                            </th>-->
<!--                            <th class="actions"></th>-->
<!--                        </tr>-->
<!--                        <tr th:each="row : ${rows}">-->
<!--                            <object th:each="field : ${fields}" th:remove="tag">-->
<!--                                <object th:if="${field.second.renderer == 'text'}" th:remove="tag">-->
<!--                                    <td th:text="${field.first.get(row)}"-->
<!--                                        th:class="${field.second.centered ? 'centered' : ''}">-->
<!--                                        Value-->
<!--                                    </td>-->
<!--                                </object>-->
<!--                                <object th:if="${field.second.renderer == 'boolean'}" th:remove="tag">-->
<!--                                    <td th:class="${field.second.centered ? 'centered' : ''}">-->
<!--                                        <span th:unless="${field.first.get(row)}" class="material-icons fix-icons danger">close</span>-->
<!--                                        <span th:if="${field.first.get(row)}" class="material-icons fix-icons success">done</span>-->
<!--                                    </td>-->
<!--                                </object>-->
<!--                                <object th:if="${field.second.renderer == 'date'}" th:remove="tag">-->
<!--                                    <td th:text="${#dates.format(new java.util.Date(field.first.get(row) * 1000), 'yyyy&#8209;MM&#8209;dd HH:mm')}"-->
<!--                                        th:class="${field.second.centered ? 'centered' : ''}">-->
<!--                                    </td>-->
<!--                                </object>-->
<!--                                <object th:if="${field.second.renderer == 'time'}" th:remove="tag">-->
<!--                                    <td th:text="${#dates.format(new java.util.Date(field.first.get(row) * 1000), 'mm:ss.SSS')}"-->
<!--                                        th:class="${field.second.centered ? 'centered' : ''}">-->
<!--                                    </td>-->
<!--                                </object>-->
<!--                            </object>-->
<!--                            <td class="actions">-->
<!--                                <object th:if="${controlMode == 'edit,delete'}" th:remove="tag">-->
<!--                                    <a href="#" th:href="|@{/admin/control}/${view}/edit/${row.id}|"><span class="material-icons">edit</span></a>-->
<!--                                    <a href="#" th:href="|@{/admin/control}/${view}/delete/${row.id}|"><span class="material-icons">delete</span></a>-->
<!--                                </object>-->
<!--                                <object th:if="${controlMode == 'delete'}" th:remove="tag">-->
<!--                                    <a href="#" th:href="|@{/admin/control}/${view}/delete/${row.id}|"><span class="material-icons">delete</span></a>-->
<!--                                </object>-->
<!--                                <object th:if="${controlMode == 'view'}" th:remove="tag">-->
<!--                                    <a href="#" th:href="|@{/admin/control}/${view}/view/${row.id}|"><span class="material-icons">edit</span></a>-->
<!--                                </object>-->
<!--                                <object th:if="${controlMode == 'view,export2'}" th:remove="tag">-->
<!--                                    <a href="#" target="_blank" th:href="|@{/admin/control}/${view}/export/csv/${row.id}|"><span class="material-icons">save</span></a>-->
<!--                                    <a href="#" target="_blank" th:href="|@{/admin/control}/${view}/export/json/${row.id}|"><span class="material-icons">data_object</span></a>-->
<!--                                    <a href="#" th:href="|@{/admin/control}/${view}/view/${row.id}|"><span class="material-icons">edit</span></a>-->
<!--                                </object>-->
<!--                                <object th:if="${controlMode == 'edit'}" th:remove="tag">-->
<!--                                    <a href="#" th:href="|@{/admin/control}/${view}/edit/${row.id}|"><span class="material-icons">edit</span></a>-->
<!--                                </object>-->
<!--                                <object th:if="${controlMode == 'rate'}" th:remove="tag">-->
<!--                                    <a href="#" th:href="|@{/admin/control}/${view}/view/${row.id}|"><span class="material-icons">visibility</span></a>-->
<!--                                    <a href="#" th:href="|@{/admin/control}/${view}/rate/${row.id}|"><span class="material-icons">thumbs_up_down</span></a>-->
<!--                                </object>-->
<!--                                <object th:if="${controlMode == 'grade'}" th:remove="tag">-->
<!--                                    <a href="#" th:href="|@{/admin/control}/${view}/grade/${row.id}|"><span class="material-icons">grade</span></a>-->
<!--                                </object>-->
<!--                                <object th:if="${controlMode == 'sell'}" th:remove="tag">-->
<!--                                    <a href="#" th:href="|@{/admin/sell}/${row.id}|"><span class="material-icons">sell</span></a>-->
<!--                                </object>-->
<!--                                <object th:if="${controlMode == 'payed'}" th:remove="tag">-->
<!--                                    <a href="#" th:href="|@{/admin/control}/${view}/payed/${row.id}|"><span class="material-icons">check_circle_outline</span></a>-->
<!--                                </object>-->
<!--                                <object th:if="${controlMode == 'pdf'}" th:remove="tag">-->
<!--                                    <a href="#" target="_blank" th:href="|@{/admin/control}/${view}/pdf/${row.id}|"><span class="material-icons">save</span></a>-->
<!--                                </object>-->
<!--                                <object th:if="${controlMode == 'file'}" th:remove="tag">-->
<!--                                    <a href="#" th:href="|@{/cdn}/${id}/${row.id}|" target="_blank"><span class="material-icons">visibility</span></a>-->
<!--                                    <a href="#" th:href="|@{/admin/control}/${view}/delete/${id}/${row.id}|"><span class="material-icons">delete</span></a>-->
<!--                                </object>-->
<!--                                <object th:if="${controlMode == 'track'}" th:remove="tag">-->
<!--                                    <a href="#" th:href="|@{/admin/control}/tracking/${row.id}|" target="_blank"><span class="material-icons">map</span></a>-->
<!--                                </object>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tr th:if="${rows.isEmpty()}">-->
<!--                            <td th:colspan="${columns.size() + 1}" class="centered-text">Nincs egyetlen megjelenítendő elem sem</td>-->
<!--                        </tr>-->
<!--                    </table>-->
<!--                </div>-->

<!--                <object th:if="${controlMode == 'toplist'}" th:remove="tag">-->
<!--                    <br>-->
<!--                    <a href="#" th:href="|@{/admin/control}/${view}/refresh|" class="btn btn-secondary">Toplista újraszámítása</a>-->
<!--                    <a href="#" th:href="|@{/admin/control}/${view}/refresh-enable|" class="btn btn-secondary">Toplista frissítés bekapcsolása</a>-->
<!--                    <a href="#" th:href="|@{/admin/control}/${view}/refresh-disable|" class="btn btn-secondary">Toplista frissítés kikapcsolása</a>-->
<!--                    <p>-->
<!--                        Látható (bárki számára):-->
<!--                            <b th:if="${leaderboardEnabled}">igen</b>-->
<!--                            <b th:unless="${leaderboardEnabled}">nem</b>-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        Frissítés (minden 10p):-->
<!--                        <b th:if="${leaderboardUpdates}">bekapcsolva</b>-->
<!--                        <b th:unless="${leaderboardUpdates}">kikapcsolva</b>-->
<!--                    </p>-->
<!--                </object>-->

<!--                <object th:if="${importable != null && importable}" th:remove="tag">-->
<!--                    <a href="#" th:href="|@{/admin/control}/${view}/resource|" class="btn btn-secondary">Import és export</a>-->
<!--                </object>-->
<!--                <object th:if="${allowedToPurge != null && allowedToPurge}" th:remove="tag">-->
<!--                    <a href="#" th:href="|@{/admin/control}/${view}/purge|" class="btn btn-secondary">Teljes törlés</a>-->
<!--                </object>-->
<!--                <object th:if="${savable != null && savable}" th:remove="tag">-->
<!--                    <a href="#" target="_blank" th:href="|@{/admin/control}/${view}/save/csv|" class="btn btn-secondary">Mentés (CSV)</a>-->
<!--                </object>-->
<!--                <object th:if="${savableSublist != null && savableSublist && id != null}" th:remove="tag">-->
<!--                    <a href="#" target="_blank" th:href="|@{/admin/control}/${view}/view/${id}/save/csv|" class="btn btn-secondary">Mentés (CSV)</a>-->
<!--                </object>-->
<!--                <object th:if="${filteredExport != null && filteredExport}" th:remove="tag">-->
<!--                    <a href="#" target="_blank" th:href="|@{/admin/control}/${view}/filtered-export/csv|" class="btn btn-secondary">Szűrt mentés (CSV)</a>-->
<!--                </object>-->

<!--                <object th:if="${controlMode == 'location'}" th:remove="tag">-->
<!--                    <a href="#" th:href="|@{/admin/control}/${view}/refresh|" class="btn">Frissítés</a>-->
<!--                    <a href="#" th:href="|@{/admin/control}/${view}/clean|" class="btn btn-secondary">Törlés</a>-->
<!--                </object>-->
<!--            </div>-->
        </div>
    </div>
</div>

<script src="tabulator.min.js"></script>
<script th:inline="javascript">
    let tabledata = [
        /*[[${tableData}]]*/
        {id:1, name:"Oli Bob", progress:12, gender:"male", rating:1, col:"red", dob:"19/02/1984", car:1},
        {id:2, name:"Mary May", progress:1, gender:"female", rating:2, col:"blue", dob:"14/05/1982", car:true},
        {id:3, name:"Christine Lobowski", progress:42, gender:"female", rating:0, col:"green", dob:"22/05/1982", car:"true"},
        {id:4, name:"Brendon Philips", progress:100, gender:"male", rating:1, col:"orange", dob:"01/08/1980"},
        {id:5, name:"Margret Marmajuke", progress:16, gender:"female", rating:5, col:"yellow", dob:"31/01/1999"},
        {id:6, name:"Frank Harbours", progress:38, gender:"male", rating:4, col:"red", dob:"12/05/1966", car:1},
    ];

    let table = new Tabulator("#cmsch-table", {
        data: tabledata,
        autoColumns: false,
        layout: 'fitColumns',
        responsiveLayout: 'hide',
        columns:[
            /*[[${cokumnData}]]*/
            {title:"Id", field:"id"},
            {title:"Name", field:"name"},
            {title:"Progress", field:"progress", hozAlign:"right", sorter:"number"},
            {title:"Gender", field:"gender"},
            {title:"Rating", field:"rating", hozAlign:"center"},
            {title:"Favourite Color", field:"col"},
            {title:"Date", field:"dob"},
            {title:"Car", field:"car"},
        ],
    });
</script>

</body>
</html>
