<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="hu">
<head th:replace="~{layout4 :: head(${context.siteName})}">
</head>
<body>
<div th:replace="~{layout4 :: mobile(null)}"></div>
<div th:replace="~{layout4 :: siteBegin(${userContext}, ${context})}"></div>

<div class="group">
    <div class="app">
        <div th:replace="~{layout4 :: menus(${userContext}, ${context})}">
        </div>

        <div class="content">
            <h1 class="narrow">Minden elem törlése</h1>

            <div class="card wide-false">

                <h4 th:text="|Innen: ${title}|">Purge view</h4>
                <div class="desc">
                    Ha az entitásra van adatbázis kapcsolat, akkor nem lehetséges a törlése.
                </div>
                <div class="desc">
                    A törlés logolva lesz az audit logba! Érdemes biztonsági mentést készíteni törlés előtt!
                </div>
                <div class="desc">
                    <b>Annak a tudatában töröld, hogy még a KIR-DEV sem fogja tudni visszacsinálni</b> ha megnyomod a gombot!
                </div>

                <p th:if="${purgedCount != null}">
                    Törölt entitások száma: <b th:text="${purgedCount}"></b><br />
                    Ha 0 jelenik meg, de ennél több entity van, akkor adatbázis kapcsolat miatt nem törölhető!
                </p>

                <div class="hr-invisible"></div>

                <div class="button-group">
                    <form th:action="|@{/admin/control}/${view}/purge|"
                          method="post"
                          enctype="multipart/form-data">

                        <button type="submit" class="btn btn-danger">
                            <span class="material-symbols-outlined regular">delete_forever</span>
                            <ins>MINDEN ELEM VÉGLEGES TÖRLÉSE</ins>
                        </button>
                    </form>

                    <a href="#" class="btn btn-secondary" th:href="|@{/admin/control}/${view}|">
                        <span class="material-symbols-outlined regular">cancel</span>
                        <ins>MÉGSEM</ins>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
