<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="hu">
<head th:replace="~{layout4 :: head(${context.siteName})}">
</head>
<body>
<div th:replace="~{layout4 :: mobile(null)}"></div>
<div th:replace="~{layout4 :: siteBegin(${userContext}, ${context})}"></div>

<div class="group">
    <div class="app">
        <div th:replace="~{layout4 :: menus(${userContext}, ${context})}">
        </div>

        <div class="content">
            <h1 class="narrow"><ins>Helymeghatározás</ins>
                <span class="material-symbols-outlined color-yellow star-button"
                      th:class="|material-symbols-outlined color-yellow star-button ${userContext.favoriteMenus.contains('Helymeghatározás') ? 'favorite' : ''}|"
                      id="star-page"
                      data-star="Helymeghatározás"
                      onclick="toggleStarred(this.getAttribute('data-star')); return false">star</span>
            </h1>

            <div class="card wide-false">
                <h4>Alkalmazás</h4>
                <p th:utext="${installGuide}">
                    Neked nincs jogod ezt az oldalt megnyitni!<br />
                    Ha szerinted ez egy hiba a rendszerben, akkor keresd meg az oldal adminisztrátorát.
                </p>

                <p>Tokened: <b th:text="${accessToken}"></b><br> (A tokenedet ne oszd meg mással!)</p>

                <div class="button-group">
                    <a th:href="${androidAppUrl}" class="btn btn-primary" target="_blank">
                        <span class="material-symbols-outlined regular">download</span>
                        <ins>Android App letöltése</ins>
                    </a>
                    <a th:href="${iosAppUrl}" class="btn btn-primary" target="_blank">
                        <span class="material-symbols-outlined regular">download</span>
                        <ins>iOS App letöltése</ins>
                    </a>
                </div>
                <p>Már megvan az app? Állítsd be egy kattintással az alábbi gombbal!</p>
                <div class="button-group">
                    <a th:href="${appOpenUrl}" class="btn btn-primary" target="_blank">
                        <span class="material-symbols-outlined regular">open_in_new</span>
                        <ins>Megnyitás a CMSch Bacon-ben</ins>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
