<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="hu">
<head th:fragment="head">
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <title>Tankör Tracker</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/tracker.css" th:href="@{/tracker.css}">
    <meta name="theme-color" content="#000000">
    <meta name="msapplication-navbutton-color" content="#000000"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000"/>
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="icon" type="image/x-icon" th:href="@{/cdn/manifest/favicon.ico}" />
    <link rel="icon" type="image/png" sizes="192x192" th:href="@{/cdn/manifest/icon-192x192.png}" />
    <link rel="icon" type="image/png" sizes="256x256" th:href="@{/cdn/manifest/icon-256x256.png}" />
    <link rel="icon" type="image/png" sizes="384x384" th:href="@{/cdn/manifest/icon-384x384.png}" />
    <link rel="icon" type="image/png" sizes="512x512" th:href="@{/cdn/manifest/icon-512x512.png}" />
    <link rel="stylesheet" href="/ol.css" type="text/css">
    <style th:inline="text">
        .cat-1 {
            background-color: [[@{(${defaultGroupColor})}]];
        }
    </style>
</head>
<body>

<div class="buttons">
    <button onclick="document.getElementById('table').style.display = 'block'">&forall;</button>
    <button onclick="document.getElementById('table').style.display = 'none'">X</button>
</div>

<div class="all-tracker" id="table">
    <table>
        <thead>
            <tr>
                <td></td>
                <td>Név</td>
                <td>Friss.</td>
                <td>Pontos.</td>
                <td>Magasság</td>
            </tr>
        </thead>
        <tbody id="data">
            <!--<tr>
                <td><div class="cat cat-1"></div></td>
                <td>I12</td>
                <td>5s</td>
                <td>20</td>
                <td>147.01</td>
            </tr>-->
        </tbody>
    </table>
</div>

<div id="map" style="width: 100%; height: 100vh"></div>

<script src="/ol.js"></script>

<script th:inline="javascript">
    const apiUrl = /*[[${url}]]*/ "/api/track";
    const defaultGroupColor = /*[[${defaultGroupColor}]]*/ "";

    const groupNames = {
        black: /*[[${blackGroupName}]]*/ "",
        blue: /*[[${blueGroupName}]]*/ "",
        cyan: /*[[${cyanGroupName}]]*/ "",
        pink: /*[[${pinkGroupName}]]*/ "",
        orange: /*[[${orangeGroupName}]]*/ "",
        green: /*[[${greenGroupName}]]*/ "",
        red: /*[[${redGroupName}]]*/ "",
        white: /*[[${whiteGroupName}]]*/ "",
        yellow: /*[[${yellowGroupName}]]*/ "",
        purple: /*[[${purpleGroupName}]]*/ "",
        gray: /*[[${grayGroupName}]]*/ "",
    };

    const map = new ol.Map({
        layers: [
            new ol.layer.Tile({
                source: new ol.source.OSM()
            })
        ],
        target: 'map',
        view: new ol.View({
            center: ol.proj.fromLonLat([19.056076, 47.476683]),
            maxZoom: 20,
            zoom: 16
        })
    });

    const createIconStyle = (color) => new ol.style.Style({
        image: new ol.style.Circle({
            radius: 4,
            stroke: new ol.style.Stroke({ color: '#fff' }),
            fill: new ol.style.Fill({ color: color })
        })
    });

    const iconStyles = {
        default: createIconStyle(defaultGroupColor),
        black: createIconStyle('#000000'),
        blue: createIconStyle('#5fa8d3'),
        cyan: createIconStyle('#70d6ff'),
        pink: createIconStyle('#ff70a6'),
        orange: createIconStyle('#f8961e'),
        green: createIconStyle('#a7c957'),
        red: createIconStyle('#ef233c'),
        white: createIconStyle('#ffffff'),
        yellow: createIconStyle('#fee440'),
        purple: createIconStyle('#9d4edd'),
        gray: createIconStyle('#c0c0c0')
    };

    const labelStyle = new ol.style.Style({
        text: new ol.style.Text({
            font: '16px Calibri,sans-serif',
            overflow: true,
            textAlign: 'center',
            offsetY: -12,
            fill: new ol.style.Fill({
                color: '#000'
            }),
            stroke: new ol.style.Stroke({
                color: '#fff',
                width: 3
            })
        })
    });

    const styles = {
        default: [iconStyles.default, labelStyle],
        black: [iconStyles.black, labelStyle],
        blue: [iconStyles.blue, labelStyle],
        cyan: [iconStyles.cyan, labelStyle],
        pink: [iconStyles.pink, labelStyle],
        orange: [iconStyles.orange, labelStyle],
        green: [iconStyles.green, labelStyle],
        red: [iconStyles.red, labelStyle],
        white: [iconStyles.white, labelStyle],
        yellow: [iconStyles.yellow, labelStyle],
        purple: [iconStyles.purple, labelStyle],
        gray: [iconStyles.gray, labelStyle]
    };

    let layer;

    async function refreshAll() {
        try {
            const response = await fetch(apiUrl, {
                method: 'GET',
                mode: 'cors',
                cache: 'no-cache',
                credentials: 'same-origin'
            });

            if (response.status !== 200) {
                throw new Error(`Error with status ${response.status}`);
            }

            const data = await response.json();
            layer.getSource().clear();

            let tableData = "";
            const currentTime = Math.floor(Date.now() / 1000);
            for (const feature of data) {
                let elapsed = currentTime - parseInt(feature.timestamp);
                let elapsedStr = `${elapsed}s`;

                if (elapsed > 120) {
                    elapsed = elapsed / 60;
                    elapsedStr = `${elapsed.toFixed(0)}m`;
                }

                if (currentTime - parseInt(feature.timestamp) <= 600) {
                    const name = feature.alias || feature.groupName;
                    const groupName = feature.groupName;

                    let category = Object.keys(groupNames).find(key => groupNames[key] === groupName);
                    if (!category) category = 'default';
                    category = category === 'default' ? 1 : 10 + Object.keys(iconStyles).indexOf(category);

                    const olFeature = new ol.Feature({
                        geometry: new ol.geom.Point(ol.proj.fromLonLat([feature.longitude, feature.latitude])),
                        name: name,
                        category: category
                    });
                    layer.getSource().addFeature(olFeature);

                    tableData += `<tr><td><div class="cat cat-${category}"></td><td>${name}</td><td>${elapsedStr}</td><td>${feature.accuracy.toFixed(1)}</td><td>${feature.altitude.toFixed(0)}</td></tr>`;
                }
            }
            document.getElementById('data').innerHTML = tableData;
        } catch (error) {
            console.error(error);
        }
    }

    function onInit() {
        layer = new ol.layer.Vector({
            source: new ol.source.Vector({
                features: []
            }),
            style: function (feature) {
                labelStyle.getText().setText(feature.get('name'));
                const category = feature.get('category');
                switch (category) {
                    case 10: return styles.black;
                    case 11: return styles.blue;
                    case 12: return styles.cyan;
                    case 13: return styles.pink;
                    case 14: return styles.orange;
                    case 15: return styles.green;
                    case 16: return styles.red;
                    case 17: return styles.white;
                    case 18: return styles.yellow;
                    case 19: return styles.purple;
                    case 20: return styles.gray;
                    default: return styles.default;
                }
            }
        });
        map.addLayer(layer);

        setTimeout(() => refreshAll(), 0);
        setInterval(() => refreshAll(), 5000);
    }

    onInit();
</script>

</body>
</html>
