<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="hu">
<head th:replace="~{layout4 :: head(${context.siteName})}">
</head>
<body>
<div th:replace="~{layout4 :: mobile(null)}"></div>
<div th:replace="~{layout4 :: siteBegin(${userContext}, ${context})}"></div>

<div class="group">
    <div class="app">
        <div th:replace="~{layout4 :: menus(${userContext}, ${context})}">
        </div>

        <div class="content">
            <h1 class="narrow"><ins>Fájlfeltöltés</ins>
                <span class="material-symbols-outlined color-yellow star-button"
                      th:class="|material-symbols-outlined color-yellow star-button ${#lists.contains(userContext.favoriteMenus, 'Fájlfeltöltés') ? 'favorite' : ''}|"
                      id="star-page"
                      data-star="Fájlfeltöltés"
                      onclick="toggleStarred(this.getAttribute('data-star')); return false">star</span>
            </h1>

            <div class="card wide-false" th:if="${uploaded != null && uploaded != 'no'}">
                <h4>Fájl feltöltve</h4>

                <ul class="desc" th:each="file : ${#strings.arraySplit(uploaded, ',')}">
                    <li>
                        A fájl url-je: <b th:text="|${file}|">myFile.png</b><br />

                        <div class="button-group">
                            <a href="#" class="btn btn-primary" onclick="copyToClipboard(this.getAttribute('data-copy')); return false"
                               th:data-copy="|${file}|">
                                <span class="material-symbols-outlined regular">content_copy</span>
                                <ins>MÁSOLÁS</ins>
                            </a>

                            <a th:href="|${file}|" class="btn" target="_blank">
                                <span class="material-symbols-outlined regular">open_in_new</span>
                                <ins>MEGNYITÁS</ins>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="card wide-false">
                <h4>Új fájl feltöltése</h4>
                <form id="file-form" th:action="|@{/admin/control}/upload-file|" method="post" enctype="multipart/form-data">

                    <div id="file-name-inputs"></div>

                    <div class="field-group">
                        <label for="imageField">
                            Fájl (többet is kiválaszhatsz)
                        </label>
                        <div style="clear: both"></div>
                        <input type="file"
                               class="file-input"
                               name="files"
                               id="imageField"
                               multiple="multiple"
                        />

                        <script>
                            document.getElementById('imageField').addEventListener('change', function() {
                                const fileNameInputs = document.getElementById("file-name-inputs")
                                fileNameInputs.innerHTML = "";
                                const fileNameInputTemplate = document.getElementById("name-input-template")

                                for (let i = 0; i < this.files.length; i++) {
                                    const inputId = `name${i}`;
                                    const file = this.files[i]
                                    const fileNameInput = fileNameInputTemplate.content.cloneNode(true)
                                    fileNameInput.querySelector('.name-label').setAttribute('for', inputId)
                                    fileNameInput.querySelector('.file-name').innerText = file.name
                                    const inputField = fileNameInput.querySelector('.name-input')
                                    inputField.setAttribute('id', inputId)
                                    inputField.value = file.name.substring(0, file.name.lastIndexOf('.'));
                                    fileNameInputs.appendChild(fileNameInput)
                                }
                            });
                        </script>
                    </div>
                    <div class="field-group">
                        <label for="keepNames">Teljes név megtartása (url enkódolva)</label>
                        <div style="clear:both"></div>
                        <label class="switch">
                            <input type="checkbox" name="keepNames" id="keepNames">
                            <span class="slider"></span>
                        </label>
                        <span class="note">Egyébként egy random string is belekerül a névbe</span>
                        <div style="clear:both"></div>
                    </div>
                    <div class="button-group">
                        <button type="submit" class="btn btn-primary">
                            <span class="material-symbols-outlined regular">upload</span>
                            <ins>Feltöltés</ins>
                        </button>
                        <a th:href="@{/admin/control/files/view/public}" class="btn btn-secondary">
                            <span class="material-symbols-outlined regular">folder_open</span>
                            <ins>Fájlok megtekintése</ins>
                        </a>
                    </div>
                </form>
            </div>

            <div class="card wide-false" th:if="${user.isAdmin()}">
                <h4>Jogosultságok</h4>

                <div class="options">
                    <div class="option">
                        <div><span class="material-symbols-outlined">local_police</span></div>
                        <div>
                            <h5 th:text="${permission}">PERMISSION_NAME</h5>
                            <span>Ez a jog szükséges ennek az oldalnak az módosításához és olvasásához.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function copyToClipboard(str) {
        const el = document.createElement('textarea');
        el.value = str;
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        document.body.removeChild(el);
    }
</script>
<template id="name-input-template">
    <div class="field-group">
        <label class="name-label">Név
            <span class="file-name"></span>
        </label>
        <div style="clear: both"></div>
        <input type="text" class="name-input" name="names" autocomplete="off" />
        <small>Vessző ne legyen a névben</small>
    </div>
</template>
</body>
</html>
