name: Build and Push Release Docker Image

on:
  workflow_dispatch: # allow manually running this workflow
  push:
    tags:
    - v*

jobs:
  build-and-push-release:
    name: Build and Push Release Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker Registry
        run: echo ${{ secrets.DOCKER_REGISTRY_PASSWORD }} | docker login -u ${{ secrets.DOCKER_REGISTRY_USERNAME }} --password-stdin ${{ secrets.DOCKER_REGISTRY_URL }}

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: 21
          distribution: temurin

      - name: Build OCI Image
        uses: gradle/gradle-build-action@v2
        with:
          arguments: clean bootBuildImage --imageName=${{ secrets.DOCKER_REGISTRY_URL }}/cmsch:release
          build-root-directory: backend

      - name: Push OCI Image
        run: docker push ${{ secrets.DOCKER_REGISTRY_URL }}/cmsch:release

      - name: Logout from Docker Registry
        run: docker logout ${{ secrets.DOCKER_REGISTRY_URL }}
