name: Lint CI

on:
  push:
    branches:
      - master
      - staging
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  run-linters:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend

    steps:
    - name: Check out Git repository
      uses: actions/checkout@v5

    - name: Set up Node.js 25
      uses: actions/setup-node@v4
      with:
        node-version: 25

    - name: Install Node.js dependencies
      run: npm ci

    - name: ESLint
      run: npm run lint:eslint

    - name: Prettier
      run: npm run lint:eslint

    - name: TSC
      run: npm run lint:typescript

    - name: SonarCloud Scan
      uses: SonarSource/sonarqube-scan-action@v5
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      with:
        projectBaseDir: frontend
