name: Lint CI

on:
  push:
    branches:
      - master
    paths:
      - 'frontend/**'
  pull_request:
    branches:
      - master
    paths:
      - 'frontend/**'

jobs:
  run-linters:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend

    steps:
    - name: Check out Git repository
      uses: actions/checkout@v3

    - name: Set up Node.js 20
      uses: actions/setup-node@v3
      with:
        node-version: 20
    - name: Enable corepack
      run: corepack enable

    - name: Install Node.js dependencies
      run: yarn install

    - name: ESLint
      run: yarn lint:eslint

    - name: Prettier
      run: yarn lint:eslint

    - name: TSC
      run: yarn lint:typescript
